Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*

Heap size is now optional w/o HEAP_FLAG_ALWAYS_IN_BUDGET.
  README.md
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Documentation, Test

Rename WarningLog => WarnLog.
  src/gpgmm/common/EventTraceWriter.cpp
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/TraceEvent.cpp
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/DebugResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/LogD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/utils/Log.cpp
  src/gpgmm/utils/Log.h
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
Labels: D3D12, Frontend, Test

Remove debug logs from resource heap allocator.
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
Labels: D3D12

More minor clean-up.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
Labels: D3D12

Rename ALLOCATION_FLAG_DISABLE_RESIDENCY => ALLOCATION_FLAG_NEVER_RESIDENT and ALLOCATION_FLAG_WARN_ON_ALIGNMENT_MISMATCH => ALLOCATION_FLAG_ALWAYS_WARN_ON_ALIGNMENT_MISMATCH. (#835)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

deploy: 3b7fdeb6c20e0bfa92ab8eaa5219a8ba0c8da454
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_0.js
  search/enumvalues_0.js
Labels: none

deploy: 8a1672fb512dfd8ca39876482c66c83b1cd1a726
  annotated.html
  classes.html
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  namespaces.html
  search/all_0.js
  search/all_4.js
  search/all_9.js
  search/all_a.js
  search/all_b.js
  search/all_c.js
  search/all_e.js
  search/classes_0.js
  search/classes_4.js
  search/enumvalues_0.js
  search/functions_3.js
  search/variables_4.js
  search/variables_8.js
  search/variables_a.js
  search/variables_c.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___s_t_a_t_s-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___s_t_a_t_s.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___s_t_a_t_s-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___s_t_a_t_s.html
Labels: none

deploy: 13253fd7341681b4d009b41231e7194b309a8a37
  annotated.html
  classes.html
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespaces.html
  search/all_0.js
  search/all_4.js
  search/all_9.js
  search/all_a.js
  search/all_b.js
  search/all_c.js
  search/all_e.js
  search/classes_0.js
  search/classes_4.js
  search/functions_3.js
  search/variables_4.js
  search/variables_8.js
  search/variables_a.js
  search/variables_c.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___s_t_a_t_s-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___s_t_a_t_s.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___s_t_a_t_s-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___s_t_a_t_s.html
Labels: none

deploy: 5b3b1b7619067b01e1b28b4291c85630fa8e17a3
  namespacegpgmm_1_1d3d12.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c.html
Labels: none

Rename RESOURCE_ALLOCATOR_STATS => ALLOCATOR_STATS (#836)
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/D3D12Test.cpp
  src/tests/D3D12Test.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Migrate error handlers to check for device lost.
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/FenceD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
Labels: D3D12

Rename WarningLog => WarnLog. (#837)
  src/gpgmm/common/EventTraceWriter.cpp
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/TraceEvent.cpp
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/DebugResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/LogD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/utils/Log.cpp
  src/gpgmm/utils/Log.h
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
Labels: D3D12, Frontend, Test

deploy: 9e302210806a4b1cc7e6c7308f7420ac8d3d0c3a
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_0.js
  search/enumvalues_0.js
Labels: none

deploy: 3d6d85a8a73d584a47012aef6ba75bc8b98d7a58
  annotated.html
  classes.html
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespaces.html
  search/all_0.js
  search/all_4.js
  search/all_9.js
  search/all_a.js
  search/all_b.js
  search/all_c.js
  search/all_e.js
  search/classes_0.js
  search/classes_4.js
  search/functions_3.js
  search/variables_4.js
  search/variables_8.js
  search/variables_a.js
  search/variables_c.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___s_t_a_t_s-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___s_t_a_t_s.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___s_t_a_t_s-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___s_t_a_t_s.html
Labels: none

Migrate error handlers to check for device lost. (#838)
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/FenceD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
Labels: D3D12

Move GetTypename to macro.
  src/gpgmm/common/BuddyBlockAllocator.cpp
  src/gpgmm/common/BuddyBlockAllocator.h
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/BuddyMemoryAllocator.h
  src/gpgmm/common/ConditionalMemoryAllocator.cpp
  src/gpgmm/common/ConditionalMemoryAllocator.h
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.h
  src/gpgmm/common/Memory.cpp
  src/gpgmm/common/Memory.h
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/Object.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/PooledMemoryAllocator.h
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.h
  src/gpgmm/common/SlabBlockAllocator.cpp
  src/gpgmm/common/SlabBlockAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.h
  src/gpgmm/d3d12/DebugResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/DebugResourceAllocatorD3D12.h
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.h
Labels: D3D12, Frontend

Move GetTypename to macro. (#840)
  src/gpgmm/common/BuddyBlockAllocator.cpp
  src/gpgmm/common/BuddyBlockAllocator.h
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/BuddyMemoryAllocator.h
  src/gpgmm/common/ConditionalMemoryAllocator.cpp
  src/gpgmm/common/ConditionalMemoryAllocator.h
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.h
  src/gpgmm/common/Memory.cpp
  src/gpgmm/common/Memory.h
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/Object.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/PooledMemoryAllocator.h
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.h
  src/gpgmm/common/SlabBlockAllocator.cpp
  src/gpgmm/common/SlabBlockAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.h
  src/gpgmm/d3d12/DebugResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/DebugResourceAllocatorD3D12.h
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.h
Labels: D3D12, Frontend

Roll build/ 8d69f8b84..df52d5599 (50 commits)
  DEPS
Labels: DEPS

Roll buildtools/ 64174283d..d709f875a (9 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++/trunk/ 049d48aa9..5f7e371b4 (24 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++abi/trunk/ b076ad359..0123281f7 (5 commits)
  DEPS
Labels: DEPS

Roll tools/clang/ 93fb1d6ad..2c8239e94 (6 commits)
  DEPS
Labels: DEPS

Roll testing/ 602bc125a..35266ea8e (99 commits)
  DEPS
Labels: DEPS

Roll third_party/googletest/ 057b4e904..12a5852e4 (3 commits)
  DEPS
Labels: DEPS

Roll third_party/vulkan-deps/ cc40b6b58..a6e68d7ed (48 commits)
  DEPS
Labels: DEPS

Roll third_party/catapult/ fdeb9d47a..ac30cc4bc (8 commits)
  DEPS
Labels: DEPS

Roll third_party DEPS (#843)
  DEPS
Labels: DEPS

deploy: f13ddd8a2ad19de68b899c6b35cabb8c91799046
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacegpgmm_1_1vk.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_0.js
  search/enumvalues_0.js
Labels: none

Refactor the D3D12 API.
  README.md
  docs/DESIGN.md
  include/gpgmm_d3d12.h
  include/gpgmm_vk.h
  src/fuzzers/D3D12Fuzzer.cpp
  src/fuzzers/D3D12Fuzzer.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/fuzzers/D3D12ResourceAllocatorFuzzer.cpp
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyListD3D12.cpp
  src/gpgmm/d3d12/ResidencyListD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/samples/D3D12Sample.cpp
  src/tests/D3D12Test.cpp
  src/tests/D3D12Test.h
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Documentation, Build, Test

Refactor the D3D12 API. (#839)
  README.md
  docs/DESIGN.md
  include/gpgmm_d3d12.h
  include/gpgmm_vk.h
  src/fuzzers/D3D12Fuzzer.cpp
  src/fuzzers/D3D12Fuzzer.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/fuzzers/D3D12ResourceAllocatorFuzzer.cpp
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyListD3D12.cpp
  src/gpgmm/d3d12/ResidencyListD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/samples/D3D12Sample.cpp
  src/tests/D3D12Test.cpp
  src/tests/D3D12Test.h
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Documentation, Build, Test

Roll build/ df52d5599..61c4b1021 (79 commits)
  DEPS
Labels: DEPS

Roll buildtools/ d709f875a..539a6f687 (6 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++/trunk/ 5f7e371b4..cfac7d9e3 (20 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++abi/trunk/ 0123281f7..307bd1636 (8 commits)
  DEPS
Labels: DEPS

Roll tools/clang/ 2c8239e94..55676aed7 (3 commits)
  DEPS
Labels: DEPS

Roll testing/ 35266ea8e..30b6a63c7 (104 commits)
  DEPS
Labels: DEPS

Roll third_party/googletest/ 12a5852e4..783d00fd1 (9 commits)
  DEPS
Labels: DEPS

Roll third_party/vulkan-deps/ a6e68d7ed..60517cf84 (42 commits)
  DEPS
Labels: DEPS

Roll third_party/catapult/ ac30cc4bc..1aa5adbaf (7 commits)
  DEPS
Labels: DEPS

Inherit RefCount in MemoryBase.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/Memory.cpp
  src/gpgmm/common/Memory.h
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
Labels: Frontend
