Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*

Move logging below info level to STDERR only.
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/utils/Log.cpp
Labels: D3D12, Frontend

Disable exceptions where thrown.
  src/gpgmm/common/EventTraceWriter.cpp
  src/gpgmm/common/EventTraceWriter.h
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/utils/JSONEncoder.cpp
  src/gpgmm/utils/JSONEncoder.h
  src/gpgmm/utils/Log.cpp
  src/gpgmm/utils/Log.h
  src/gpgmm/utils/Utils.h
Labels: D3D12, Frontend

Minor improvements to alignment mismatch logging. (#798)
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
Labels: D3D12, Frontend

Move device/adapter parameters out of descriptors. (#793)
  .github/workflows/.patches/dawn.diff
  README.md
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12Fuzzer.cpp
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/fuzzers/D3D12ResourceAllocatorFuzzer.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/samples/D3D12Sample.cpp
  src/tests/D3D12Test.cpp
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Documentation, Infra, Test

Skip eviction checks when budget wasn't updated during tests.
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: Test

Disable exceptions where thrown. (#800)
  src/gpgmm/common/EventTraceWriter.cpp
  src/gpgmm/common/EventTraceWriter.h
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/utils/JSONEncoder.cpp
  src/gpgmm/utils/JSONEncoder.h
  src/gpgmm/utils/Log.cpp
  src/gpgmm/utils/Log.h
  src/gpgmm/utils/Utils.h
Labels: D3D12, Frontend

Minor updates to serialization after API changes.
  src/gpgmm/common/JSONSerializer.cpp
  src/gpgmm/common/JSONSerializer.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
Labels: D3D12, Frontend

Skip eviction checks when budget wasn't updated during tests. (#801)
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: Test

deploy: ecce4d6dd23b330f5bd5a93b1b21ada07c277b26
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_d.js
  search/enumvalues_4.js
Labels: none

Apply ALLOCATOR_FLAG_ALWAYS_RESIDENT by default if NOT_RESIDENT is unsupported.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

deploy: 4c0ee66862d8772e3e6c3a389dea1504eecb332f
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_0.js
  search/all_1.js
  search/all_2.js
  search/all_4.js
  search/functions_0.js
  search/variables_0.js
  search/variables_2.js
  search/variables_4.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___d_e_s_c.html
Labels: none

Fix MaxResourceHeapSize not being honored.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

deploy: c57c9f45345d393cbba2079fb6ad05ae461ca061
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_0.js
  search/all_1.js
  search/all_2.js
  search/all_4.js
  search/functions_0.js
  search/variables_0.js
  search/variables_2.js
  search/variables_4.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___d_e_s_c.html
Labels: none

Wire up allocation instances to logs.
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/Object.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
Labels: D3D12, Frontend

deploy: 7e4647a822e3e6bbdefdd9b6f83343b1810c4782
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_0.js
  search/all_1.js
  search/all_2.js
  search/all_4.js
  search/functions_0.js
  search/variables_0.js
  search/variables_2.js
  search/variables_4.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___d_e_s_c.html
Labels: none

Fix MaxResourceHeapSize not being honored. (#803)
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Wire up allocation instances to logs. (#804)
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/Object.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
Labels: D3D12, Frontend

Apply ALLOCATOR_FLAG_ALWAYS_RESIDENT by default if NOT_RESIDENT is unsupported. (#802)
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Minor heap creation improvements.
  src/gpgmm/d3d12/DebugObjectD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.cpp
Labels: D3D12

Clean-up error messages for ResourceAllocation.
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
Labels: D3D12

Rename gpgmm_d3d12 to use backend types.
  .github/workflows/.patches/dawn.diff
  README.md
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
  src/tests/capture_replay_tests/traces/dawn_end2end_queuewritebuffertests_manywritebuffer.json
  src/tests/capture_replay_tests/traces/directml_samples_directmlxsuperresolution.json
  src/tests/capture_replay_tests/traces/webnn_end2end_mobilenetv2nchwtests_nchwtest0.json
  src/tests/capture_replay_tests/traces/webnn_mobilenetv2_nchw.json
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Documentation, Infra, Test

Move printing of types to only when debugger is attached.
  src/gpgmm/common/EventMessage.cpp
  src/gpgmm/common/EventMessage.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/utils/Log.cpp
  src/gpgmm/utils/Log.h
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
Labels: D3D12, Vulkan, Frontend

Minor heap creation improvements. (#805)
  src/gpgmm/d3d12/DebugObjectD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.cpp
Labels: D3D12

Always re-align memory requests.
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
Labels: Frontend

Rename gpgmm_d3d12 to use backend types. (#806)
  .github/workflows/.patches/dawn.diff
  README.md
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
  src/tests/capture_replay_tests/traces/dawn_end2end_queuewritebuffertests_manywritebuffer.json
  src/tests/capture_replay_tests/traces/directml_samples_directmlxsuperresolution.json
  src/tests/capture_replay_tests/traces/webnn_end2end_mobilenetv2nchwtests_nchwtest0.json
  src/tests/capture_replay_tests/traces/webnn_mobilenetv2_nchw.json
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Documentation, Infra, Test

Move printing of types to only when debugger is attached. (#807)
  src/gpgmm/common/EventMessage.cpp
  src/gpgmm/common/EventMessage.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/utils/Log.cpp
  src/gpgmm/utils/Log.h
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
Labels: D3D12, Vulkan, Frontend

Always re-align memory requests. (#808)
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
Labels: Frontend

Rename kMemoryAllocated to kObjectCreated.
  src/gpgmm/common/Message.cpp
  src/gpgmm/common/Message.h
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend

deploy: 19e092d988e2ae77e3707dc00e4c0fcb7ad839f6
  functions.html
  functions_vars.html
  search/all_6.js
  search/all_9.js
  search/all_d.js
  search/variables_5.js
  search/variables_7.js
  search/variables_9.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c.html
Labels: none

deploy: c96307279c7e4abbc76236b83b83351dfb0311c0
  functions.html
  functions_vars.html
  search/all_6.js
  search/all_9.js
  search/all_d.js
  search/variables_5.js
  search/variables_7.js
  search/variables_9.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c.html
Labels: none

deploy: 3d2b92d3a77085cca84ff27e9377b3ae85a3ca9d
  functions.html
  functions_vars.html
  search/all_6.js
  search/all_9.js
  search/all_d.js
  search/variables_5.js
  search/variables_7.js
  search/variables_9.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_o_r___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c.html
Labels: none

Roll build/ deb9d1920..b3fc6af81 (54 commits)
  DEPS
Labels: DEPS

Roll buildtools/ 27356dca4..cb5d17004 (5 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++/trunk/ 79a510511..ab37483b4 (13 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++abi/trunk/ 9643f2cf1..4a9d0560b (1 commit)
  DEPS
Labels: DEPS

Roll tools/clang/ 4ea266791..f68624726 (6 commits)
  DEPS
Labels: DEPS

Roll testing/ 18e0ae2d6..b3a2092d1 (105 commits)
  DEPS
Labels: DEPS

Roll third_party/googletest/ e9fb5c7ba..b5fd99bbd (7 commits)
  DEPS
Labels: DEPS

Roll third_party/vulkan-deps/ d56f49146..16f4efa0a (50 commits)
  DEPS
Labels: DEPS

Roll third_party/catapult/ 9d41f74af..fdcbdb2b3 (8 commits)
  DEPS
Labels: DEPS
