Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*

Roll build/ 44a4b24b0..079e692ae (75 commits)
  DEPS
Labels: DEPS

Roll buildtools/ 5d2ccbf93..edbefcee3 (2 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++/trunk/ 685fc2750..8d325fedd (66 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++abi/trunk/ f2cb09f94..970b5e6ec (7 commits)
  DEPS
Labels: DEPS

Roll tools/clang/ 062d93895..a2fa65fc8 (23 commits)
  DEPS
Labels: DEPS

Roll testing/ 396bd26b8..e72b926fb (222 commits)
  DEPS
Labels: DEPS

Roll third_party/googletest/ bb2941fcc..458046912 (8 commits)
  DEPS
Labels: DEPS

Roll third_party/vulkan-deps/ 3a356ab97..6e41699c8 (74 commits)
  DEPS
Labels: DEPS

Roll third_party/catapult/ 730ebc3ef..da83d8eaf (29 commits)
  DEPS
Labels: DEPS

Roll build/ 44a4b24b0..7b01a5a9a (124 commits)
  DEPS
Labels: DEPS

Roll buildtools/ 5d2ccbf93..61b4b91ea (3 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++/trunk/ 685fc2750..6e533670b (101 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++abi/trunk/ f2cb09f94..899caea38 (9 commits)
  DEPS
Labels: DEPS

Roll tools/clang/ 062d93895..499a012d2 (33 commits)
  DEPS
Labels: DEPS

Roll testing/ 396bd26b8..adaef3f33 (352 commits)
  DEPS
Labels: DEPS

Roll third_party/googletest/ bb2941fcc..06f44bc95 (13 commits)
  DEPS
Labels: DEPS

Roll third_party/vulkan-deps/ 3a356ab97..0dbc9230a (134 commits)
  DEPS
Labels: DEPS

Roll third_party/catapult/ 730ebc3ef..db0de4086 (43 commits)
  DEPS
Labels: DEPS

Roll build/ 44a4b24b0..2513c22ec (194 commits)
  DEPS
Labels: DEPS

Roll buildtools/ 5d2ccbf93..3819ac6f3 (4 commits; 1 trivial rolls)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++/trunk/ 685fc2750..528b7a956 (127 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++abi/trunk/ f2cb09f94..899caea38 (9 commits)
  DEPS
Labels: DEPS

Roll tools/clang/ 062d93895..fc015c035 (46 commits)
  DEPS
Labels: DEPS

Roll testing/ 396bd26b8..49475e3a0 (473 commits)
  DEPS
Labels: DEPS

Roll third_party/googletest/ bb2941fcc..65cfeca1a (17 commits)
  DEPS
Labels: DEPS

Roll third_party/vulkan-deps/ 3a356ab97..61c4fb9d6 (156 commits)
  DEPS
Labels: DEPS

Roll third_party/catapult/ 730ebc3ef..f51324c1c (59 commits)
  DEPS
Labels: DEPS

Roll third_party/jsoncpp/source/ 8190e061b..3d9bf8ee5 (1 commit)
  DEPS
Labels: DEPS

Roll build/ 44a4b24b0..044668983 (235 commits)
  DEPS
Labels: DEPS

Roll buildtools/ 5d2ccbf93..3739a3619 (6 commits; 2 trivial rolls)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++/trunk/ 685fc2750..9da978096 (163 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++abi/trunk/ f2cb09f94..8d21803b9 (12 commits)
  DEPS
Labels: DEPS

Roll tools/clang/ 062d93895..573d371df (53 commits)
  DEPS
Labels: DEPS

Roll testing/ 396bd26b8..f05e6b1f7 (600 commits)
  DEPS
Labels: DEPS

Roll third_party/googletest/ bb2941fcc..9b12f749f (21 commits)
  DEPS
Labels: DEPS

Roll third_party/vulkan-deps/ 3a356ab97..4aa38765a (210 commits)
  DEPS
Labels: DEPS

Roll third_party/catapult/ 730ebc3ef..cef5cf05b (83 commits)
  DEPS
Labels: DEPS

Roll third_party/jsoncpp/source/ 8190e061b..3d9bf8ee5 (1 commit)
  DEPS
Labels: DEPS

Remove build_with_chromium cases for tests.
  src/tests/BUILD.gn
Labels: Build, Test

Make gpgmm_export.h optional.
  include/gpgmm_d3d12.h
  include/gpgmm_vk.h
Labels: none
