Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

WIP (#932)
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12, Frontend

Clean-up ResourceAllocator::DeleteThis.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Reuse MemoryAllocationBase upon TryAllocateMemory.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
Labels: Frontend

Reuse MemoryAllocationBase upon TryAllocateMemory. (#933)
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
Labels: Frontend

Reuse sub-allocation instead of re-creating.
  src/gpgmm/common/MemoryAllocator.h
Labels: Frontend

Reuse sub-allocation instead of re-creating. (#934)
  src/gpgmm/common/MemoryAllocator.h
Labels: Frontend

Clean-up SegmentedMemoryAllocator::TryAllocateMemory.
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
Labels: Frontend

Move memory allocation destruction into helper.
  src/gpgmm/common/ConditionalMemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryPool.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
Labels: D3D12, Vulkan, Frontend

Revert "Move memory allocation destruction into helper."
  src/gpgmm/common/ConditionalMemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryPool.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
Labels: D3D12, Vulkan, Frontend

Remove SetDebugAllocator.
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.cpp
Labels: D3D12

Eliminate heap alloc in DedicatedMemoryAllocator::TryAllocateMemory.
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.h
  src/gpgmm/common/MemoryAllocation.h
Labels: Frontend

Make ResidencyHeap thread-safe.
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
Labels: D3D12

Eliminate heap alloc in DedicatedMemoryAllocator::TryAllocateMemory. (#941)
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.h
  src/gpgmm/common/MemoryAllocation.h
Labels: Frontend

Make ResidencyHeap thread-safe. (#942)
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
Labels: D3D12

Eliminate slab copies during allocation.
  src/gpgmm/common/SlabMemoryAllocator.cpp
Labels: Frontend

Eliminate slab copies during allocation. (#943)
  src/gpgmm/common/SlabMemoryAllocator.cpp
Labels: Frontend

Clean-up MemoryAllocationBase.
  src/gpgmm/common/MemoryAllocation.h
Labels: Frontend

Move resource allocation creation out.
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Move resource allocation creation out. (#944)
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Keep resource allocator alive for buffers.
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/BufferAllocatorD3D12.h
Labels: D3D12

Keep resource allocator alive for buffers. (#945)
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/BufferAllocatorD3D12.h
Labels: D3D12

SetDebugName even when tracking is disabled.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Depreciate DebugName in descriptors.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

deploy: 45bc315300a308b6c7c5c2ea487e239566ef194c
  functions.html
  functions_vars.html
  search/all_2.js
  search/variables_2.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
Labels: none

Depreciate DebugName in descriptors. (#946)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Add error handing for pool operations.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/IndexedMemoryPool.cpp
  src/gpgmm/common/IndexedMemoryPool.h
  src/gpgmm/common/LIFOMemoryPool.cpp
  src/gpgmm/common/LIFOMemoryPool.h
  src/gpgmm/common/MemoryPool.cpp
  src/gpgmm/common/MemoryPool.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/tests/unittests/MemoryPoolTests.cpp
Labels: Frontend, Test

Refactor pools to iterate as STL containers.
  src/gpgmm/common/IndexedMemoryPool.cpp
  src/gpgmm/common/IndexedMemoryPool.h
  src/gpgmm/common/LIFOMemoryPool.cpp
  src/gpgmm/common/LIFOMemoryPool.h
  src/gpgmm/common/MemoryPool.h
Labels: Frontend

Avoid re-allocation when returing to pool.
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
Labels: Frontend

Add error handing for pool operations. (#947)
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/IndexedMemoryPool.cpp
  src/gpgmm/common/IndexedMemoryPool.h
  src/gpgmm/common/LIFOMemoryPool.cpp
  src/gpgmm/common/LIFOMemoryPool.h
  src/gpgmm/common/MemoryPool.cpp
  src/gpgmm/common/MemoryPool.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/tests/unittests/MemoryPoolTests.cpp
Labels: Frontend, Test

Refactor pools to iterate as STL containers. (#948)
  src/gpgmm/common/IndexedMemoryPool.cpp
  src/gpgmm/common/IndexedMemoryPool.h
  src/gpgmm/common/LIFOMemoryPool.cpp
  src/gpgmm/common/LIFOMemoryPool.h
  src/gpgmm/common/MemoryPool.h
Labels: Frontend

Avoid re-allocation when returning to pool.
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
Labels: D3D12, Frontend

Avoid re-allocation when returning to pool. (#950)
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
Labels: D3D12, Frontend

Clean-up PooledMemoryAllocator::TryAllocateMemory.
  src/gpgmm/common/PooledMemoryAllocator.cpp
Labels: Frontend

Allow StableList to be enumerated as non-range.
  src/gpgmm/utils/StableList.h
  src/tests/unittests/StableListTests.cpp
Labels: Frontend, Test

Allow StableList to be enumerated as non-range. (#951)
  src/gpgmm/utils/StableList.h
  src/tests/unittests/StableListTests.cpp
Labels: Frontend, Test

Keep allocators alive for base allocations.
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
Labels: Frontend

Add RESOURCE_ALLOCATOR_DESC::ExtraRequiredResourceFlags
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

deploy: 8e7f041fe8ef64a531720a2d62afb9e17890bc06
  functions.html
  functions_vars.html
  search/all_3.js
  search/all_4.js
  search/variables_3.js
  search/variables_4.js
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___d_e_s_c.html
Labels: none

Add RESOURCE_ALLOCATOR_DESC::ExtraRequiredResourceFlags (#953)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Avoid re-asking for device lost reason.
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*
