Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*

Clean-up documentation in gpgmm_d3d12.h
  include/gpgmm_d3d12.h
Labels: none

Add support for RESIDENCY_HEAP_FLAG_CREATE_LOCKED.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: b354e12ca93dd5603f822596cddbcb7c01e79301
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_1.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___m_a_n_a_g_e_r___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___m_a_n_a_g_e_r___s_t_a_t_s.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___s_t_a_t_s.html
Labels: none

Add support for RESIDENCY_HEAP_FLAG_CREATE_LOCKED. (#919)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Update README.
  README.md
Labels: Documentation

Fix pre-fetch message in slab allocation.
  src/gpgmm/common/SlabMemoryAllocator.cpp
Labels: Frontend

Fix check when final lock is released for resource allocations.
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Add GetResidencyManager to IResourceAllocation.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: e384ccddee4be0566221550ba7738680f0c6bf9a
  gpgmm__d3d12_8h.html
  menudata.js
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_5.js
  search/functions_2.js
Labels: none

Add GetResidencyManager to IResourceAllocation. (#917)
  include/gpgmm_d3d12.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Frontend, Test

Revert "Add GetResidencyManager to IResourceAllocation. (#917)"
  include/gpgmm_d3d12.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Frontend, Test

Fix check when final lock is released for resource allocations. (#920)
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Reland "Add GetResidencyManager to IResourceAllocation. (#917)"
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: 95163e9991f74e71d4414c78ec10608317bcb063
  gpgmm__d3d12_8h.html
  menudata.js
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_5.js
  search/functions_2.js
Labels: none

Reland "Add GetResidencyManager to IResourceAllocation. (#917)" (#921)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Add GetResourceAllocator support to IResourceAllocation.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

deploy: 593def4e10f47bf8fec80d3c794832cf28e280b2
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_5.js
  search/functions_2.js
Labels: none

Add GetResourceAllocator support to IResourceAllocation. (#922)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Move GetRefCount to EXPECT_REFCOUNT_EQ.
  src/tests/D3D12Test.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: Test

Move GetResidencyManager to IResidencyHeap.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: d981c475385dcb4c7885c32fe078887684c87391
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
Labels: none

Move GetResidencyManager to IResidencyHeap. (#923)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Use EXPECT_REFCOUNT_EQ for CreateResourceAllocatorWithoutDeviceAddRef
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: Test

Fix D3D12 device from leaking.
  src/gpgmm/d3d12/FenceD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Fix D3D12 device from leaking. (#925)
  src/gpgmm/d3d12/FenceD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Always unref mapped resource allocations.
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
Labels: D3D12

Add EXPECT_REFCOUNT_EQ for D3D12 device at end of test.
  src/gpgmm/common/GPUInfo.h
  src/tests/D3D12Test.cpp
  src/tests/D3D12Test.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: Frontend, Test

Add EXPECT_REFCOUNT_EQ for D3D12 device at end of test. (#926)
  src/gpgmm/common/GPUInfo.h
  src/tests/D3D12Test.cpp
  src/tests/D3D12Test.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: Frontend, Test

Use std::unique_ptr for pool-allocated memory.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/IndexedMemoryPool.cpp
  src/gpgmm/common/IndexedMemoryPool.h
  src/gpgmm/common/LIFOMemoryPool.cpp
  src/gpgmm/common/LIFOMemoryPool.h
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryPool.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/tests/unittests/MemoryPoolTests.cpp
Labels: Frontend, Test

Use std::unique_ptr for pool-allocated memory. (#927)
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/IndexedMemoryPool.cpp
  src/gpgmm/common/IndexedMemoryPool.h
  src/gpgmm/common/LIFOMemoryPool.cpp
  src/gpgmm/common/LIFOMemoryPool.h
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryPool.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/tests/unittests/MemoryPoolTests.cpp
Labels: Frontend, Test

Use GPGMM_TRY_ASSIGN on TrySubAllocateMemory.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
Labels: Frontend

Use GPGMM_TRY_ASSIGN on TrySubAllocateMemory. (#928)
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
Labels: Frontend

Make MemoryAllocator ref-counted.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/BuddyMemoryAllocator.h
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/PooledMemoryAllocator.h
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/utils/RefCount.h
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.h
  src/tests/DummyMemoryAllocator.h
  src/tests/perftests/MemoryAllocatorPerfTests.cpp
  src/tests/unittests/BuddyMemoryAllocatorTests.cpp
  src/tests/unittests/MemoryAllocatorTests.cpp
  src/tests/unittests/PooledMemoryAllocatorTests.cpp
  src/tests/unittests/SegmentedMemoryAllocatorTests.cpp
  src/tests/unittests/SlabMemoryAllocatorTests.cpp
Labels: D3D12, Vulkan, Frontend, Test

Make MemoryAllocator ref-counted. (#929)
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/BuddyMemoryAllocator.h
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/PooledMemoryAllocator.h
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/utils/RefCount.h
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.h
  src/tests/DummyMemoryAllocator.h
  src/tests/perftests/MemoryAllocatorPerfTests.cpp
  src/tests/unittests/BuddyMemoryAllocatorTests.cpp
  src/tests/unittests/MemoryAllocatorTests.cpp
  src/tests/unittests/PooledMemoryAllocatorTests.cpp
  src/tests/unittests/SegmentedMemoryAllocatorTests.cpp
  src/tests/unittests/SlabMemoryAllocatorTests.cpp
Labels: D3D12, Vulkan, Frontend, Test

Move Unknown deletion into DeleteThis.
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Move Unknown deletion into DeleteThis. (#931)
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Use ResultOrError for TryAllocateBlock.
  src/gpgmm/common/BlockAllocator.h
  src/gpgmm/common/BuddyBlockAllocator.cpp
  src/gpgmm/common/BuddyBlockAllocator.h
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/SlabBlockAllocator.cpp
  src/gpgmm/common/SlabBlockAllocator.h
  src/tests/unittests/BuddyBlockAllocatorTests.cpp
  src/tests/unittests/SlabBlockAllocatorTests.cpp
Labels: Frontend, Test

Use HEAP_ALLOCATION_INFO in ResourceAllocator.
  src/gpgmm/d3d12/D3D12Platform.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Use ResultOrError for TryAllocateBlock. (#930)
  src/gpgmm/common/BlockAllocator.h
  src/gpgmm/common/BuddyBlockAllocator.cpp
  src/gpgmm/common/BuddyBlockAllocator.h
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/SlabBlockAllocator.cpp
  src/gpgmm/common/SlabBlockAllocator.h
  src/tests/unittests/BuddyBlockAllocatorTests.cpp
  src/tests/unittests/SlabBlockAllocatorTests.cpp
Labels: Frontend, Test

WIP
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12, Frontend
