Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*

Remove build_with_chromium cases for tests. (#853)
  src/tests/BUILD.gn
Labels: Build, Test

Make gpgmm_export.h optional. (#854)
  include/gpgmm_d3d12.h
  include/gpgmm_vk.h
Labels: none

Fix spelling in gpgmm headers.
  include/gpgmm_d3d12.h
  include/gpgmm_vk.h
Labels: none

Remove GPGMM_REFCOUNT_TYPE.
  src/gpgmm/d3d12/UnknownD3D12.h
Labels: D3D12

Fix spelling in gpgmm headers. (#855)
  include/gpgmm_d3d12.h
  include/gpgmm_vk.h
Labels: none

Move budget events into cpp.
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
Labels: D3D12, Build

Move budget events into cpp.
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
Labels: D3D12, Build

Depreciate RESIDENCY_HEAP_INFO::IsCachedForResidency
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/mvi/gpgmm_d3d12.cpp
Labels: D3D12

deploy: 48a42c101029983f8ece11f84d83045a3473c635
  functions.html
  functions_vars.html
  globals.html
  globals_defs.html
  gpgmm__d3d12_8h.html
  gpgmm__vk_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacegpgmm_1_1vk.html
  search/all_4.js
  search/all_5.js
  search/all_7.js
  search/defines_0.js
  search/variables_4.js
  search/variables_6.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o.html
Labels: none

deploy: d31d1044a9a64fe6ff6c64ffa856675aaec8ee39
  functions.html
  functions_vars.html
  search/all_4.js
  search/all_7.js
  search/variables_4.js
  search/variables_6.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o.html
Labels: none

Remove GPGMM_REFCOUNT_TYPE. (#857)
  src/gpgmm/d3d12/UnknownD3D12.h
Labels: D3D12

deploy: 07bcdeff232d0163ee5670271c7e6a0a0cb140e0
  namespacegpgmm_1_1d3d12.html
  namespacegpgmm_1_1vk.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_f_e_a_t_u_r_e___d_a_t_a___r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___s_u_p_p_o_r_t.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___m_a_n_a_g_e_r___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___d_e_s_c.html
Labels: none

Move budget events into cpp. (#858)
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
Labels: D3D12, Build

deploy: 553fb83542e5a2e1995edc04ec422fe0b4678c6a
  functions.html
  functions_vars.html
  search/all_4.js
  search/all_7.js
  search/variables_4.js
  search/variables_6.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o.html
Labels: none

deploy: 4d17072523867d19ada4f3700e40183cb7c0b863
  functions.html
  functions_vars.html
  search/all_4.js
  search/all_7.js
  search/variables_4.js
  search/variables_6.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o.html
Labels: none

Depreciate RESIDENCY_HEAP_INFO::IsCachedForResidency (#856)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/mvi/gpgmm_d3d12.cpp
Labels: D3D12

deploy: abceac139e9ace7bc5e97486438f77ce7211f780
  functions.html
  functions_vars.html
  search/all_4.js
  search/all_7.js
  search/variables_4.js
  search/variables_6.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o.html
Labels: none

Rename RESIDENCY_FLAG_DISABLE_BUDGET_UPDATES_ON_WORKER_THREAD to RESIDENCY_FLAG_DISABLE_BACKGROUND_BUDGET_UPDATES.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: c2bd39a43a1af72432a0fb9400fb570cf819823d
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
Labels: none

Rename RESIDENCY_FLAG_DISABLE_BUDGET_UPDATES_ON_WORKER_THREAD to RESIDENCY_FLAG_DISABLE_BACKGROUND_BUDGET_UPDATES. (#859)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Remove unused forward declares from D3D12Test
  src/tests/D3D12Test.h
Labels: Test

Remove unused forward declares from D3D12Test (#860)
  src/tests/D3D12Test.h
Labels: Test

Clean-up comments in memory allocation and allocator.
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.h
Labels: Frontend

Clean-up comments in memory allocation and allocator. (#861)
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.h
Labels: Frontend

Remove <cstdint> from gpgmm_d3d12.h
  include/gpgmm_d3d12.h
  include/gpgmm_vk.h
  src/fuzzers/D3D12Fuzzer.h
  src/gpgmm/common/Defaults.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Vulkan, Frontend, Test

Remove integrations from VSCode launches.
  .vscode/launch.json
Labels: none

Remove <cstdint> from gpgmm_d3d12.h (#862)
  include/gpgmm_d3d12.h
  include/gpgmm_vk.h
  src/fuzzers/D3D12Fuzzer.h
  src/gpgmm/common/Defaults.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Vulkan, Frontend, Test

Rename MemoryAllocator to MemoryAllocatorBase.
  include/gpgmm_d3d12.h
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/BuddyMemoryAllocator.h
  src/gpgmm/common/ConditionalMemoryAllocator.cpp
  src/gpgmm/common/ConditionalMemoryAllocator.h
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.h
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/PooledMemoryAllocator.h
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.h
  src/gpgmm/d3d12/BufferAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.h
  src/gpgmm/vk/DeviceMemoryAllocatorVk.h
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.h
  src/mvi/gpgmm.cpp
  src/mvi/gpgmm.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/DummyMemoryAllocator.h
  src/tests/perftests/MemoryAllocatorPerfTests.cpp
  src/tests/unittests/MemoryAllocatorTests.cpp
Labels: D3D12, Vulkan, Frontend, Test

deploy: e31e996a2c21bf4c9a8971fbfd50318d630a2260
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
Labels: none

Rename MemoryAllocator to MemoryAllocatorBase. (#863)
  include/gpgmm_d3d12.h
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/BuddyMemoryAllocator.h
  src/gpgmm/common/ConditionalMemoryAllocator.cpp
  src/gpgmm/common/ConditionalMemoryAllocator.h
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.h
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/PooledMemoryAllocator.h
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.h
  src/gpgmm/d3d12/BufferAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.h
  src/gpgmm/vk/DeviceMemoryAllocatorVk.h
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.h
  src/mvi/gpgmm.cpp
  src/mvi/gpgmm.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/DummyMemoryAllocator.h
  src/tests/perftests/MemoryAllocatorPerfTests.cpp
  src/tests/unittests/MemoryAllocatorTests.cpp
Labels: D3D12, Vulkan, Frontend, Test

deploy: b6d0432c0311f25d7c99280a80bb1dbe6e03b8df
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
Labels: none

Remove VK prefix from GPUVendor constants.
  src/gpgmm/common/GPUInfo.h
  src/gpgmm/d3d12/CapsD3D12.cpp
Labels: D3D12, Frontend

Clean-up include headers.
  include/gpgmm_d3d12.h
  include/gpgmm_vk.h
Labels: none

Validate residency resource heap flags
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: 769cf0ae8d1cc9204b3b378f9271c3368ebd8498
  gpgmm__vk_8h.html
Labels: none

Validate residency resource heap flags (#865)
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Update CreateResidencyHeap to use accessors.
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
Labels: D3D12

Move texture type check into utils.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.h
Labels: D3D12

Rename GPGMM_RETURN_INVALID_IF => GPGMM_RETURN_ERROR_IF.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
Labels: Vulkan, Frontend

Move event messages into cpp.
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/EventMessageD3D12.h
  src/gpgmm/d3d12/LogD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Build
