Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*

Roll third_party DEPS (#810)
  DEPS
Labels: DEPS

Fix error returned by resource tier mismatch.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Rename kMemoryAllocated to kObjectCreated. (#809)
  src/gpgmm/common/Message.cpp
  src/gpgmm/common/Message.h
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend

Clean-up EC documentation.
  include/gpgmm_d3d12.h
Labels: none

Replace flag to check residency status in tests.
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: 9d6d555593012247bf932108a1d49ed4005c106b
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
Labels: none

Inline EnsureInBudget
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
Labels: D3D12

Inline EnsureInBudget (#814)
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
Labels: D3D12

Fix error returned by resource tier mismatch. (#811)
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Replace flag to check residency status in tests. (#812)
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Move tracing into backend.
  include/gpgmm.h
  include/gpgmm_d3d12.h
  src/gpgmm/common/JSONSerializer.cpp
  src/gpgmm/common/JSONSerializer.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/D3D12Test.cpp
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
Labels: D3D12, Frontend, Test

Move tracing into backend. (#816)
  include/gpgmm.h
  include/gpgmm_d3d12.h
  src/gpgmm/common/JSONSerializer.cpp
  src/gpgmm/common/JSONSerializer.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/D3D12Test.cpp
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
Labels: D3D12, Frontend, Test

Clean-up event messages.
  src/gpgmm/common/EventMessage.cpp
Labels: Frontend

Change debug events to logs for front-end memory allocators.
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/utils/Log.cpp
Labels: Frontend

Clean-up event trace metrics.
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Suppress logging of internal objects.
  CMakeLists.txt
  build_overrides/gpgmm_features.gni
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/Object.cpp
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/utils/Log.cpp
Labels: D3D12, Frontend, Build

Move resource stats and method into backend.
  include/gpgmm.h
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/common/JSONSerializer.cpp
  src/gpgmm/common/JSONSerializer.h
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/mvi/gpgmm.cpp
  src/mvi/gpgmm.h
  src/mvi/gpgmm_d3d12.cpp
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Frontend, Test

Suppress logging of internal objects. (#817)
  CMakeLists.txt
  build_overrides/gpgmm_features.gni
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/Object.cpp
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/utils/Log.cpp
Labels: D3D12, Frontend, Build

Move resource stats and method into backend. (#815)
  include/gpgmm.h
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/common/JSONSerializer.cpp
  src/gpgmm/common/JSONSerializer.h
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/mvi/gpgmm.cpp
  src/mvi/gpgmm.h
  src/mvi/gpgmm_d3d12.cpp
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Frontend, Test

Depreciate gpgmm header.
  include/gpgmm.h
  include/gpgmm_d3d12.h
  include/gpgmm_vk.h
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.h
  src/mvi/gpgmm.h
Labels: Frontend

deploy: c8ac8a76f28a25bcc15a645a758e8420fef5fe9d
  dir_d44c64559bbebec7f509842c48db8b23.html
  files.html
  gpgmm_8h.html
  gpgmm__d3d12_8h.html
  gpgmm__vk_8h.html
  search/all_5.js
  search/files_0.js
Labels: none

Rename RESIDENCY_MANAGER_STATS fields.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: 2432417bc1b748640b21d8e8f89201e99541e698
  dir_d44c64559bbebec7f509842c48db8b23.html
  files.html
  functions.html
  functions_vars.html
  gpgmm_8h.html
  gpgmm__d3d12_8h.html
  gpgmm__vk_8h.html
  search/all_1.js
  search/all_5.js
  search/files_0.js
  search/variables_1.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___m_a_n_a_g_e_r___s_t_a_t_s.html
Labels: none

Rename MemorySegment => HeapSegment.
  .github/workflows/.patches/dawn.diff
  README.md
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
  src/tests/capture_replay_tests/traces/dawn_end2end_queuewritebuffertests_manywritebuffer.json
  src/tests/capture_replay_tests/traces/directml_samples_directmlxsuperresolution.json
  src/tests/capture_replay_tests/traces/webnn_end2end_mobilenetv2nchwtests_nchwtest0.json
  src/tests/capture_replay_tests/traces/webnn_mobilenetv2_nchw.json
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Documentation, Infra, Test

Rename RESIDENCY_MANAGER_STATS fields. (#819)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: c09a79d68556416c21e26260368007ff7361bf0a
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_1.js
  search/all_6.js
  search/all_a.js
  search/all_c.js
  search/functions_3.js
  search/functions_5.js
  search/variables_1.js
  search/variables_5.js
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___m_a_n_a_g_e_r___s_t_a_t_s-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___m_a_n_a_g_e_r___s_t_a_t_s.html
Labels: none

deploy: 88af808613f8c68c4bbdc3dd26326cd57a2ce159
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_1.js
  search/all_6.js
  search/all_a.js
  search/all_c.js
  search/functions_3.js
  search/functions_5.js
  search/variables_1.js
  search/variables_5.js
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___m_a_n_a_g_e_r___s_t_a_t_s-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___m_a_n_a_g_e_r___s_t_a_t_s.html
Labels: none

Rename MemorySegment => HeapSegment. (#820)
  .github/workflows/.patches/dawn.diff
  README.md
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
  src/tests/capture_replay_tests/traces/dawn_end2end_queuewritebuffertests_manywritebuffer.json
  src/tests/capture_replay_tests/traces/directml_samples_directmlxsuperresolution.json
  src/tests/capture_replay_tests/traces/webnn_end2end_mobilenetv2nchwtests_nchwtest0.json
  src/tests/capture_replay_tests/traces/webnn_mobilenetv2_nchw.json
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Documentation, Infra, Test

deploy: 39d7fc4f0a7d8b800498c2352e3d3754549cd6f8
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_6.js
  search/all_a.js
  search/all_c.js
  search/functions_3.js
  search/functions_5.js
  search/variables_5.js
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c.html
Labels: none

RESIDENCY_FLAG_NEVER_UPDATE_BUDGET_ON_WORKER_THREAD => RESIDENCY_FLAG_DISABLE_BUDGET_UPDATES_ON_WORKER_THREAD
  .github/workflows/.patches/dawn.diff
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Infra, Test

Depreciate gpgmm header. (#818)
  include/gpgmm.h
  include/gpgmm_d3d12.h
  include/gpgmm_vk.h
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.h
  src/mvi/gpgmm.h
Labels: Frontend

Prefer public interfaces for type names.
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

deploy: 740f0c0a79cb42015cfbfe7f1b92f9d5b4de6f7b
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_4.js
Labels: none

deploy: 9d844bac22d6cc4f88daada51147486021f4a0c0
  dir_d44c64559bbebec7f509842c48db8b23.html
  files.html
  gpgmm_8h.html
  gpgmm__d3d12_8h.html
  gpgmm__vk_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_5.js
  search/all_b.js
  search/enumvalues_4.js
  search/files_0.js
Labels: none

RESIDENCY_FLAG_NEVER_UPDATE_BUDGET_ON_WORKER_THREAD => RESIDENCY_FLAG_DISABLE_BUDGET_UPDATES_ON_WORKER_THREAD (#822)
  .github/workflows/.patches/dawn.diff
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Infra, Test

deploy: ea350d5d47e7fd2fc97bcdb9d596cde6372afd75
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_4.js
Labels: none

Rename fields in RECORD_SCOPE.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
Labels: D3D12, Test

deploy: 64b8b9607a72e4e4592c1d6f2124522533670360
  gpgmm__d3d12_8h.html
  menudata.js
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_3.js
  search/all_b.js
  search/enumvalues_1.js
  search/enumvalues_2.js
  search/enumvalues_3.js
  search/enumvalues_4.js
  search/searchdata.js
Labels: none

Fix capture replay tests after typename changes.
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
Labels: Test

Remove traces that can no longer be regenerated.
  src/tests/capture_replay_tests/traces/dawn_end2end_queuewritebuffertests_manywritebuffer.json
  src/tests/capture_replay_tests/traces/directml_samples_directmlxsuperresolution.json
  src/tests/capture_replay_tests/traces/webnn_end2end_mobilenetv2nchwtests_nchwtest0.json
  src/tests/capture_replay_tests/traces/webnn_mobilenetv2_nchw.json
  src/tests/capture_replay_tests/traces/webnn_resnet50v2_nchw.json
Labels: Test
