Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

Pre-calc buffer alignments to suppress D3D12 error.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.h
Labels: D3D12

More clean-up after error handling changes. (#903)
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/Error.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/utils/Log.cpp
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
Labels: D3D12, Vulkan, Frontend

Pre-calc buffer alignments to suppress D3D12 error. (#906)
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.h
Labels: D3D12

Return E_FAIL for kAllocationFailed errors.
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Return E_FAIL for kAllocationFailed errors. (#907)
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Hook-up remaining front-end errors.
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend

Hook-up remaining front-end errors. (#908)
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend

Move misalignment checking.
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12, Frontend

Move misalignment checking. (#909)
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12, Frontend

Use result errors for resource creation.
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/FenceD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
Labels: D3D12, Frontend

Use result errors for resource creation. (#911)
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/FenceD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
Labels: D3D12, Frontend

Revert "Use result errors for resource creation. (#911)"
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/FenceD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
Labels: D3D12, Frontend

Use result errors for resource creation. (#911)
  src/gpgmm/common/Error.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12, Frontend

Reland use result errors for resource creation. (#911) (#912)
  src/gpgmm/common/Error.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12, Frontend

Return E_OUTOFMEMORY when adapter or device limit is exceeded.
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Frontend, Test

Return E_OUTOFMEMORY when adapter or device limit is exceeded. (#910)
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Frontend, Test

Remove unused gpgmm::d3d12::IsErrorResultFatal.
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
Labels: D3D12

deploy: 47025ce2e8d7d1e16bdbc060a31a10cd80b51718
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_1.js
  search/variables_9.js
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___d_e_s_c.html
Labels: none

Support re-attempt of resource creation on E_OUTOFMEMORY.
  include/gpgmm_d3d12.h
  src/gpgmm/common/Error.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Frontend, Test

Speed-up GetResourceAllocationInfo for buffers.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Rename fields in CreateResourceInternal.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Vulkan, Test

deploy: 39accf9e226cebb7ed3e6697584645620ecaaf05
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_1.js
  search/variables_9.js
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___d_e_s_c.html
Labels: none

Support re-attempt of resource creation on E_OUTOFMEMORY. (#913)
  include/gpgmm_d3d12.h
  src/gpgmm/common/Error.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Frontend, Test

deploy: d4ca55866c7856644469a26d8b436a8d61f28d96
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_1.js
  search/variables_9.js
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___d_e_s_c.html
Labels: none

Speed-up GetResourceAllocationInfo for buffers. (#914)
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Refactor TryAllocateResource error handling.
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend

Refactor TryAllocateResource error handling. (#915)
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend

Validate resource creation for attempting allocation.
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend

More D3D12 error handling clean-up.
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend

Refactor validation error handling in CreateResource.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Clean-up alignment check in ValidateRequest.
  src/gpgmm/common/MemoryAllocator.cpp
Labels: Frontend

Never evict mapped resource allocations.
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Never evict mapped resource allocations. (#916)
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Clean-up residency list impl.
  src/gpgmm/d3d12/ResidencyListD3D12.h
Labels: D3D12

Clean-up of memory pool impl.
  src/gpgmm/common/MemoryPool.cpp
  src/gpgmm/common/MemoryPool.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
Labels: Frontend

Require RESOURCE_ALLOCATION_FLAG_NEVER_SUBALLOCATE_HEAP when specifying ExtraRequiredResourcePadding.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

deploy: 30eb7206bf8549157efb2cbf55abb3c46a75c07a
  gpgmm__d3d12_8h.html
  menudata.js
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_5.js
  search/functions_2.js
Labels: none

Always unlock released resource allocations.
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
Labels: D3D12

deploy: 97946833516e7e1e6f2c6e10237ff494d43eb854
  gpgmm__d3d12_8h.html
  menudata.js
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_5.js
  search/functions_2.js
Labels: none

Always unlock released resource allocations. (#918)
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
Labels: D3D12

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*
