Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

Move event messages into cpp. (#867)
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/EventMessageD3D12.h
  src/gpgmm/d3d12/LogD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Build

Rename ALLOCATION_METHOD => ALLOCATION_TYPE.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

deploy: 154215c597e5d96a352b2be542a621561c00993a
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_enum.html
  namespacemembers_eval.html
  search/all_0.js
  search/all_4.js
  search/all_8.js
  search/all_d.js
  search/enums_0.js
  search/enumvalues_0.js
  search/variables_4.js
  search/variables_7.js
  search/variables_b.js
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___i_n_f_o-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___i_n_f_o.html
Labels: none

Rename ALLOCATION_METHOD => ALLOCATION_TYPE. (#868)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Rename [Next|Prev|PowerOfTwo to [Upper|Lower]PowerOfTwo.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/utils/Math.cpp
  src/gpgmm/utils/Math.h
  src/tests/unittests/MathTests.cpp
Labels: D3D12, Frontend, Test

Terminate multi-sampled resource allocators.
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/SentinelMemoryAllocator.cpp
  src/gpgmm/common/SentinelMemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend, Build

Terminate multi-sampled resource allocators. (#870)
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/SentinelMemoryAllocator.cpp
  src/gpgmm/common/SentinelMemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend, Build

Rename gpgmm_enable_logging_internal_objects => gpgmm_enable_logging_internal.
  CMakeLists.txt
  build_overrides/gpgmm_features.gni
  src/gpgmm/common/BUILD.gn
  src/gpgmm/utils/Log.cpp
Labels: Frontend, Build

Rename [Next|Prev|PowerOfTwo to [Upper|Lower]PowerOfTwo. (#869)
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/utils/Math.cpp
  src/gpgmm/utils/Math.h
  src/tests/unittests/MathTests.cpp
Labels: D3D12, Frontend, Test

Rename gpgmm_enable_logging_internal_objects => gpgmm_enable_logging_internal. (#871)
  CMakeLists.txt
  build_overrides/gpgmm_features.gni
  src/gpgmm/common/BUILD.gn
  src/gpgmm/utils/Log.cpp
Labels: Frontend, Build

Fix TryAllocateResource logging.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Fix TryAllocateResource logging. (#872)
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Fix D3D12ResourceAllocatorTests.CreateBuffer failure.
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: Test

Allow import of resource heaps.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Allow import of resource heaps. (#873)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Fix D3D12ResourceAllocatorTests.CreateBuffer failure. (#874)
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: Test

deploy: 15423b94b379d5a2970274eaf962f9cbd9d76c00
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  search/all_1.js
  search/functions_0.js
Labels: none

deploy: d37bf735c96e0cc12f34609c400acea23da45194
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  search/all_1.js
  search/functions_0.js
Labels: none

deploy: edc3082cf1dc11df72f0fd97816940aed9db1bfc
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  search/all_1.js
  search/functions_0.js
Labels: none

Disable background budgets by default.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: c712f729f160323132cd18ec115fc96c40446c0c
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
Labels: none

Disable background budgets by default. (#875)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Disable single heap type on UMA by default.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Disable prefetching by default.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Fix D3D12 resource and residency manager flag enums.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Disable single heap type on UMA by default. (#876)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Disable prefetching by default. (#877)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Fix D3D12 resource and residency manager flag enums. (#878)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Rename RequireResourceHeapPadding to ExtraRequiredResourcePadding.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Add D3D12ResourceAllocatorTests.CreateTexture tests.
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: Test

Rename RequireResourceHeapPadding to ExtraRequiredResourcePadding. (#879)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Fix typos in ResourceAllocatorD3D12.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Default the creation of resources to being resident.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Default the creation of resources to being resident. (#880)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

deploy: 0b68715e1d6887e851f011401d820e762fcf8cc4
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
Labels: none

deploy: bed10206cc165dbb60d08c0406cfe1201809c345
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
Labels: none

deploy: 7d2720af5d3a006dc8191f3d23a2ea6fe39c2bdf
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_0.js
  search/all_b.js
  search/enumvalues_0.js
  search/enumvalues_2.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___m_a_n_a_g_e_r___d_e_s_c.html
Labels: none

deploy: a7c15f6c8768bb6401c590cb60ba0059c391bbaf
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_0.js
  search/all_b.js
  search/enumvalues_0.js
  search/enumvalues_2.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___m_a_n_a_g_e_r___d_e_s_c.html
Labels: none

deploy: b7e2776ebb593d22b0443bbfe721071b81841a89
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
Labels: none

deploy: 6900484cb1025b7816eb29a5be08699b5e83fe91
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_0.js
  search/all_b.js
  search/enumvalues_0.js
  search/enumvalues_2.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___m_a_n_a_g_e_r___d_e_s_c.html
Labels: none

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*
