Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*

Rename DebugResourceAllocator => ResourceAllocationTrackingAllocator.
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12, Build

Inherit RefCount in MemoryBase. (#841)
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/Memory.cpp
  src/gpgmm/common/Memory.h
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
Labels: Frontend

Rename DebugResourceAllocator => ResourceAllocationTrackingAllocator. (#842)
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12, Build

Roll build/ df52d5599..734c79c97 (128 commits)
  DEPS
Labels: DEPS

Roll buildtools/ d709f875a..fe77fde27 (12 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++/trunk/ 5f7e371b4..bcadf44b4 (39 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++abi/trunk/ 0123281f7..66967963e (9 commits)
  DEPS
Labels: DEPS

Roll tools/clang/ 2c8239e94..2f9ce8ce3 (9 commits)
  DEPS
Labels: DEPS

Roll testing/ 35266ea8e..c653a285e (209 commits)
  DEPS
Labels: DEPS

Roll third_party/googletest/ 12a5852e4..797b0ad2a (13 commits)
  DEPS
Labels: DEPS

Roll third_party/vulkan-deps/ a6e68d7ed..493272235 (86 commits)
  DEPS
Labels: DEPS

Roll third_party/catapult/ ac30cc4bc..247560fd6 (16 commits)
  DEPS
Labels: DEPS

Roll build/ df52d5599..d609da478 (175 commits)
  DEPS
Labels: DEPS

Roll buildtools/ d709f875a..a26ff314e (17 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++/trunk/ 5f7e371b4..3c5c16bac (82 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++abi/trunk/ 0123281f7..d5e79e117 (11 commits)
  DEPS
Labels: DEPS

Roll tools/clang/ 2c8239e94..448305bbe (12 commits)
  DEPS
Labels: DEPS

Roll testing/ 35266ea8e..74258afcd (321 commits)
  DEPS
Labels: DEPS

Roll third_party/googletest/ 12a5852e4..bc860af08 (17 commits)
  DEPS
Labels: DEPS

Roll third_party/vulkan-deps/ a6e68d7ed..c6eb70963 (144 commits)
  DEPS
Labels: DEPS

Roll third_party/catapult/ ac30cc4bc..7924448af (31 commits)
  DEPS
Labels: DEPS

Roll third_party DEPS (#846)
  DEPS
Labels: DEPS

Roll build/ d609da478..44a4b24b0 (49 commits)
  DEPS
Labels: DEPS

Roll buildtools/ a26ff314e..5d2ccbf93 (3 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++/trunk/ 3c5c16bac..685fc2750 (24 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++abi/trunk/ d5e79e117..f2cb09f94 (1 commit)
  DEPS
Labels: DEPS

Roll tools/clang/ 448305bbe..062d93895 (6 commits)
  DEPS
Labels: DEPS

Roll testing/ 74258afcd..396bd26b8 (111 commits)
  DEPS
Labels: DEPS

Roll third_party/googletest/ bc860af08..bb2941fcc (1 commit)
  DEPS
Labels: DEPS

Roll third_party/vulkan-deps/ c6eb70963..3a356ab97 (42 commits)
  DEPS
Labels: DEPS

Roll third_party/catapult/ 7924448af..730ebc3ef (13 commits)
  DEPS
Labels: DEPS

Roll third_party DEPS (#847)
  DEPS
Labels: DEPS

Roll build/ 44a4b24b0..7f93a1e7a (43 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++/trunk/ 685fc2750..6f2a689f0 (32 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++abi/trunk/ f2cb09f94..982e218cb (3 commits)
  DEPS
Labels: DEPS

Roll tools/clang/ 062d93895..4ee099ac1 (8 commits)
  DEPS
Labels: DEPS

Roll testing/ 396bd26b8..69b1c8d2b (102 commits)
  DEPS
Labels: DEPS

Roll third_party/googletest/ bb2941fcc..cb455a71f (7 commits)
  DEPS
Labels: DEPS

Roll third_party/vulkan-deps/ 3a356ab97..2968842d1 (38 commits)
  DEPS
Labels: DEPS

Roll third_party/catapult/ 730ebc3ef..c6222c27b (11 commits)
  DEPS
Labels: DEPS
