Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

Fix build script for capture replay traces.
  scripts/generate_capture_replay_trace_index.py
Labels: none

Fixes to enable UE5.1 CitySample
  src/gpgmm/common/EventTraceWriter.cpp
  src/gpgmm/common/TraceEvent.cpp
Labels: Frontend

Rename D3D12EventTraceReplay => D3D12MemoryTraceReplay
  src/tests/BUILD.gn
  src/tests/CMakeLists.txt
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
Labels: Build, Test

Rename D3D12EventTraceReplay => D3D12MemoryTraceReplay (#821)
  src/tests/BUILD.gn
  src/tests/CMakeLists.txt
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
Labels: Build, Test

Fixes to enable UE5.1 CitySample (#825)
  src/gpgmm/common/EventTraceWriter.cpp
  src/gpgmm/common/TraceEvent.cpp
Labels: Frontend

Rename D3D-specific macros to use GPGMM-prefix.
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/FenceD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/vk/ErrorVk.h
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/mvi/gpgmm_d3d12.cpp
Labels: D3D12, Vulkan

Use GPGMM-specific macros for event tracing.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/ConditionalMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/ThreadPool.cpp
  src/gpgmm/common/TraceEvent.cpp
  src/gpgmm/common/TraceEvent.h
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
  src/tests/DummyMemoryAllocator.h
Labels: D3D12, Vulkan, Frontend, Test

Rename D3D-specific macros to use GPGMM-prefix. (#824)
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/FenceD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/vk/ErrorVk.h
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/mvi/gpgmm_d3d12.cpp
Labels: D3D12, Vulkan

Use GPGMM-specific macros for event tracing. (#823)
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/ConditionalMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/ThreadPool.cpp
  src/gpgmm/common/TraceEvent.cpp
  src/gpgmm/common/TraceEvent.h
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
  src/tests/DummyMemoryAllocator.h
Labels: D3D12, Vulkan, Frontend, Test

More logging improvements.
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/EventMessage.cpp
  src/gpgmm/common/EventMessage.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/Object.cpp
  src/gpgmm/common/Object.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/TraceEvent.cpp
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/DebugResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/utils/Assert.cpp
  src/gpgmm/utils/Log.cpp
  src/gpgmm/utils/Log.h
  src/gpgmm/utils/PlatformDebug.h
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
Labels: D3D12, Vulkan, Frontend, Build

Refactor GPGMM_INVALID_IF => GPGMM_RETURN_INVALID_IF.
  src/gpgmm/common/BuddyBlockAllocator.cpp
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SlabBlockAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
Labels: Vulkan, Frontend

Refactor GPGMM_INVALID_IF => GPGMM_RETURN_INVALID_IF. (#827)
  src/gpgmm/common/BuddyBlockAllocator.cpp
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SlabBlockAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
Labels: Vulkan, Frontend

More logging improvements. (#826)
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/EventMessage.cpp
  src/gpgmm/common/EventMessage.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/Object.cpp
  src/gpgmm/common/Object.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/TraceEvent.cpp
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/DebugResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/utils/Assert.cpp
  src/gpgmm/utils/Log.cpp
  src/gpgmm/utils/Log.h
  src/gpgmm/utils/PlatformDebug.h
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
Labels: D3D12, Vulkan, Frontend, Build

deploy: 9cc821dc14b96ae2dc6556a700fa042441d8ba46
  namespacegpgmm_1_1d3d12.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c.html
Labels: none

Fix un-init struct in D3D12ResidencyManagerTests.CreateResourceHeapNotResident.
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: Test

deploy: 78ed0f1dcbb70bee41d671925bfddc44e8827f1d
  namespacegpgmm_1_1d3d12.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c.html
Labels: none

Fix un-init struct in D3D12ResidencyManagerTests.CreateResourceHeapNotResident. (#828)
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: Test

Disallow creation of heaps that exceed adapter limits.
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/CapsD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Disallow creation of heaps that exceed adapter limits. (#829)
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/CapsD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Roll build/ b3fc6af81..8d69f8b84 (44 commits)
  DEPS
Labels: DEPS

Roll buildtools/ cb5d17004..64174283d (5 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++/trunk/ ab37483b4..049d48aa9 (15 commits)
  DEPS
Labels: DEPS

Roll buildtools/third_party/libc++abi/trunk/ 4a9d0560b..b076ad359 (1 commit)
  DEPS
Labels: DEPS

Roll tools/clang/ f68624726..93fb1d6ad (8 commits)
  DEPS
Labels: DEPS

Roll testing/ b3a2092d1..602bc125a (114 commits)
  DEPS
Labels: DEPS

Roll third_party/googletest/ b5fd99bbd..057b4e904 (2 commits)
  DEPS
Labels: DEPS

Roll third_party/vulkan-deps/ 16f4efa0a..cc40b6b58 (38 commits)
  DEPS
Labels: DEPS

Roll third_party/catapult/ fdcbdb2b3..fdeb9d47a (13 commits)
  DEPS
Labels: DEPS

Roll third_party DEPS (#830)
  DEPS
Labels: DEPS

deploy: 64a0bf3af9b51d6739339d99538682298f85c586
  namespacegpgmm_1_1d3d12.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c.html
Labels: none

Check to ensure PreferredResourceHeapSize never exceeds MaxResourceHeapSize.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

deploy: bcfde84c7e82225dbfb1b0261d625be26e075d2e
  namespacegpgmm_1_1d3d12.html
  structgpgmm_1_1d3d12_1_1_h_e_a_p___d_e_s_c.html
Labels: none

Rename platform headers.
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/BufferAllocatorD3D12.h
  src/gpgmm/d3d12/CapsD3D12.h
  src/gpgmm/d3d12/D3D12Platform.h
  src/gpgmm/d3d12/DebugObjectD3D12.h
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/FenceD3D12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResidencyListD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceSizeD3D12.h
  src/gpgmm/d3d12/UnknownD3D12.h
  src/gpgmm/d3d12/UtilsD3D12.h
  src/gpgmm/vk/CapsVk.h
  src/gpgmm/vk/DeviceMemoryVk.h
  src/gpgmm/vk/ErrorVk.h
  src/gpgmm/vk/FunctionsVk.h
  src/gpgmm/vk/VkPlatform.h
  src/tests/D3D12Test.h
  src/tests/VKTest.h
Labels: D3D12, Vulkan, Build, Test

Rename platform headers. (#832)
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/BufferAllocatorD3D12.h
  src/gpgmm/d3d12/CapsD3D12.h
  src/gpgmm/d3d12/D3D12Platform.h
  src/gpgmm/d3d12/DebugObjectD3D12.h
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/FenceD3D12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResidencyListD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceSizeD3D12.h
  src/gpgmm/d3d12/UnknownD3D12.h
  src/gpgmm/d3d12/UtilsD3D12.h
  src/gpgmm/vk/CapsVk.h
  src/gpgmm/vk/DeviceMemoryVk.h
  src/gpgmm/vk/ErrorVk.h
  src/gpgmm/vk/FunctionsVk.h
  src/gpgmm/vk/VkPlatform.h
  src/tests/D3D12Test.h
  src/tests/VKTest.h
Labels: D3D12, Vulkan, Build, Test

Minor refactor in ResourceAllocator.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Minor refactor in ResourceAllocator. (#833)
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Refactoring D3D12 logging.
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/LogD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12, Build

Refactoring D3D12 logging. (#834)
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/LogD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12, Build

Rename ALLOCATION_FLAG_DISABLE_RESIDENCY => ALLOCATION_FLAG_NEVER_RESIDENT and ALLOCATION_FLAG_WARN_ON_ALIGNMENT_MISMATCH => ALLOCATION_FLAG_ALWAYS_WARN_ON_ALIGNMENT_MISMATCH.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Rename RESOURCE_ALLOCATOR_STATS => ALLOCATOR_STATS
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/D3D12Test.cpp
  src/tests/D3D12Test.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*
