Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*

Avoid re-asking for device lost reason. (#954)
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Add operator+ support for StableList.
  src/gpgmm/utils/StableList.h
  src/tests/unittests/StableListTests.cpp
Labels: Frontend, Test

Add operator+ support for StableList. (#955)
  src/gpgmm/utils/StableList.h
  src/tests/unittests/StableListTests.cpp
Labels: Frontend, Test

Support operator+= for StableList.
  src/gpgmm/utils/StableList.h
  src/tests/unittests/StableListTests.cpp
Labels: Frontend, Test

Support operator+= for StableList. (#956)
  src/gpgmm/utils/StableList.h
  src/tests/unittests/StableListTests.cpp
Labels: Frontend, Test

Minor clean-up of MemoryPool.
  src/gpgmm/common/IndexedMemoryPool.cpp
  src/gpgmm/common/IndexedMemoryPool.h
  src/gpgmm/common/LIFOMemoryPool.cpp
  src/gpgmm/common/LIFOMemoryPool.h
  src/gpgmm/common/MemoryPool.cpp
  src/gpgmm/common/MemoryPool.h
Labels: Frontend

Revert "Minor clean-up of MemoryPool."
  src/gpgmm/common/IndexedMemoryPool.cpp
  src/gpgmm/common/IndexedMemoryPool.h
  src/gpgmm/common/LIFOMemoryPool.cpp
  src/gpgmm/common/LIFOMemoryPool.h
  src/gpgmm/common/MemoryPool.cpp
  src/gpgmm/common/MemoryPool.h
Labels: Frontend

Reland "Minor clean-up of MemoryPool."
  src/gpgmm/common/IndexedMemoryPool.cpp
  src/gpgmm/common/IndexedMemoryPool.h
  src/gpgmm/common/LIFOMemoryPool.cpp
  src/gpgmm/common/LIFOMemoryPool.h
  src/gpgmm/common/MemoryPool.cpp
  src/gpgmm/common/MemoryPool.h
Labels: Frontend

Reland "Minor clean-up of MemoryPool." (#957)
  src/gpgmm/common/IndexedMemoryPool.cpp
  src/gpgmm/common/IndexedMemoryPool.h
  src/gpgmm/common/LIFOMemoryPool.cpp
  src/gpgmm/common/LIFOMemoryPool.h
  src/gpgmm/common/MemoryPool.cpp
  src/gpgmm/common/MemoryPool.h
Labels: Frontend

Move Lock/Unlock to ResidencyHeap.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: f496870a84b6abeb96d1a7361dbe85599b259767
  gpgmm__d3d12_8h.html
  menudata.js
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  namespacemembers_vars.html
  search/all_1.js
  search/all_10.js
  search/all_3.js
  search/all_8.js
  search/all_9.js
  search/all_a.js
  search/all_b.js
  search/all_c.js
  search/all_d.js
  search/all_e.js
  search/all_f.js
  search/functions_1.js
  search/functions_2.js
  search/functions_6.js
  search/searchdata.js
  search/variables_1.js
  search/variables_8.js
Labels: none

Move Lock/Unlock to ResidencyHeap. (#958)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Support exporting of committed resource allocations.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

deploy: de6889cbdf275cf6e9b65ed41f2da5498dc9c880
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_c.js
  search/enumvalues_1.js
Labels: none

Support exporting of committed resource allocations. (#959)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Remove DebugName from RESOURCE_RESOURCE_ALLOCATION_DESC.
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
Labels: D3D12

Use full include path for Error.h
  src/gpgmm/common/Error.cpp
Labels: Frontend

Remove DebugName from RESOURCE_RESOURCE_ALLOCATION_DESC. (#960)
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
Labels: D3D12

Use full include path for Error.h (#961)
  src/gpgmm/common/Error.cpp
Labels: Frontend

Use debug x86 builds in workflow.
  .github/workflows/win_x86_gn_clang_dbg.yaml
Labels: Infra

Use debug x86 builds in workflow. (#962)
  .github/workflows/win_x86_gn_clang_dbg.yaml
Labels: Infra

Specify creation of residency heaps without managers is allowed.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
Labels: D3D12

Depreciate MVI
  src/mvi/gpgmm.cpp
  src/mvi/gpgmm.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/samples/BUILD.gn
Labels: Build

deploy: d37dc2e01152074d1d7a917fa4e899aea88e6f8a
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
Labels: none

Depreciate MVI (#964)
  src/mvi/gpgmm.cpp
  src/mvi/gpgmm.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/samples/BUILD.gn
Labels: Build

Specify creation of residency heaps without managers is allowed. (#963)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
Labels: D3D12

Clean-up Backend related struct names.
  src/gpgmm/common/Backend.h
  src/gpgmm/d3d12/BackendD3D12.h
Labels: D3D12, Frontend

deploy: 0a5ae1b89829399a70713229b0dcce798208649a
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
Labels: none

Rename GetHeapSegment => GetMemorySegment.
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.h
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Unfriend ResidencyManager from ResidencyHeap.
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
Labels: D3D12

deploy: f66bce0048b2e1ad735ae1cb41c7a11011bc4ed9
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  search/all_1.js
  search/functions_0.js
Labels: none

Fix workflow name for x86 builder.
  .github/workflows/win_x86_gn_clang_dbg.yaml
Labels: Infra

Disable OverBudgetAsync on MSVC builder.
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: Test

deploy: a82a20952cc7af8b2e58f020609c504e9f30c1ad
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  search/all_1.js
  search/functions_0.js
Labels: none

Disable OverBudgetAsync on MSVC builder. (#967)
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: Test

Fix workflow name for x86 builder. (#966)
  .github/workflows/win_x86_gn_clang_dbg.yaml
Labels: Infra

Use platform conditions when skipping tests.
  src/gpgmm/utils/Platform.h
  src/tests/GPGMMTest.h
  src/tests/VKTest.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
  src/tests/unittests/EventTraceWriterTests.cpp
Labels: Frontend, Test

Use platform conditions when skipping tests. (#968)
  src/gpgmm/utils/Platform.h
  src/tests/GPGMMTest.h
  src/tests/VKTest.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
  src/tests/unittests/EventTraceWriterTests.cpp
Labels: Frontend, Test

Disable OverBudgetAsync on x86 32-bit.
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: Test

Disable OverBudgetAsync on x86 32-bit. (#969)
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: Test
