Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*

Supported nested resource allocators.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

deploy: e575187d0c0e29555f07e6f4d1fe65b410eb6f7b
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  search/all_1.js
  search/functions_0.js
Labels: none

deploy: 1cbfd9f46dee91b2caf8bf4705382acd364e685e
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  search/all_1.js
  search/functions_0.js
Labels: none

Prefer ToBackend over static_cast for base types.
  src/gpgmm/common/Backend.h
  src/gpgmm/d3d12/BackendD3D12.h
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend

Supported nested resource allocators. (#965)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

deploy: 1a421f44cf5ea27bda614e63a3f1e8a1c9d8ed83
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  search/all_1.js
  search/functions_0.js
Labels: none

Prefer ToBackend over static_cast for base types. (#970)
  src/gpgmm/common/Backend.h
  src/gpgmm/d3d12/BackendD3D12.h
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend

Allow SUBALLOCATED_WITHIN to share only pools.
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Frontend, Test

Allow SUBALLOCATED_WITHIN to share only pools. (#971)
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Frontend, Test

Rename SentinelMemoryAllocator => TerminationMemoryAllocator.
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/TerminationMemoryAllocator.cpp
  src/gpgmm/common/TerminationMemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend, Build

Rename SentinelMemoryAllocator => TerminationMemoryAllocator. (#972)
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/TerminationMemoryAllocator.cpp
  src/gpgmm/common/TerminationMemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend, Build

Use explicit API casting function.
  src/gpgmm/common/Backend.h
  src/gpgmm/d3d12/BackendD3D12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyListD3D12.cpp
  src/gpgmm/d3d12/ResidencyListD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
Labels: D3D12, Frontend

Use explicit API casting function. (#973)
  src/gpgmm/common/Backend.h
  src/gpgmm/d3d12/BackendD3D12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyListD3D12.cpp
  src/gpgmm/d3d12/ResidencyListD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
Labels: D3D12, Frontend

Set token permissions in workflows.
  .github/workflows/linux_auto_assign_author.yaml
  .github/workflows/linux_clang_format_check.yaml
  .github/workflows/linux_publish_api_docs.yaml
  .github/workflows/win_auto_roll.yaml
  .github/workflows/win_x64_cmake_msvc_dbg.yaml
  .github/workflows/win_x64_cmake_msvc_rel.yaml
  .github/workflows/win_x64_gn_clang_dbg.yaml
  .github/workflows/win_x64_gn_clang_dbg_dawn.yaml
  .github/workflows/win_x64_gn_clang_rel.yaml
  .github/workflows/win_x64_gn_clang_rel_dawn.yaml
  .github/workflows/win_x64_gn_msvc_dbg.yaml
  .github/workflows/win_x64_gn_msvc_rel.yaml
  .github/workflows/win_x86_gn_clang_dbg.yaml
  .github/workflows/win_x86_gn_clang_rel.yaml
Labels: Infra

Set token permissions in workflows. (#974)
  .github/workflows/linux_auto_assign_author.yaml
  .github/workflows/linux_clang_format_check.yaml
  .github/workflows/linux_publish_api_docs.yaml
  .github/workflows/win_auto_roll.yaml
  .github/workflows/win_x64_cmake_msvc_dbg.yaml
  .github/workflows/win_x64_cmake_msvc_rel.yaml
  .github/workflows/win_x64_gn_clang_dbg.yaml
  .github/workflows/win_x64_gn_clang_dbg_dawn.yaml
  .github/workflows/win_x64_gn_clang_rel.yaml
  .github/workflows/win_x64_gn_clang_rel_dawn.yaml
  .github/workflows/win_x64_gn_msvc_dbg.yaml
  .github/workflows/win_x64_gn_msvc_rel.yaml
  .github/workflows/win_x86_gn_clang_dbg.yaml
  .github/workflows/win_x86_gn_clang_rel.yaml
Labels: Infra

Add security-policy.
  src/SECURITY.md
Labels: Documentation

Add security-policy. (#975)
  src/SECURITY.md
Labels: Documentation

Move SECURITY.md from source to top-level directory for scans.
  SECURITY.md
Labels: Documentation

Move SECURITY.md from source to top-level directory for scans. (#976)
  SECURITY.md
Labels: Documentation

Add token permissions to pull request labeler workflow.
  .github/workflows/linux_pr_labeler.yml
Labels: Infra

Add token permissions to pull request labeler workflow. (#977)
  .github/workflows/linux_pr_labeler.yml
Labels: Infra

Eliminate DXGI adapter dependency
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/CapsD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Eliminate DXGI adapter dependency (#978)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/CapsD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

Replace DXGI_MEMORY_SEGMENT_GROUP with RESIDENCY_HEAP_SEGMENT
  README.md
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/CapsD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Documentation, Test

Replace DXGI_MEMORY_SEGMENT_GROUP with RESIDENCY_HEAP_SEGMENT (#979)
  README.md
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/CapsD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Documentation, Test

Use RESIDENCY_MEMORY_INFO instead of DXGI type
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Use RESIDENCY_MEMORY_INFO instead of DXGI type (#980)
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Remove video from residency APIs.
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Remove video from D3D12 API. (#981)
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Move DXGI adapter out of ResidencyManager.
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
Labels: D3D12

Move DXGI adapter out of ResidencyManager. (#982)
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
Labels: D3D12

Remove DXGI header from GPGMM D3D12 header.
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12Fuzzer.h
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/D3D12Platform.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/tests/D3D12Test.h
Labels: D3D12, Test

Remove DXGI header from GPGMM D3D12 header. (#983)
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12Fuzzer.h
  src/gpgmm/d3d12/CapsD3D12.cpp
  src/gpgmm/d3d12/D3D12Platform.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/tests/D3D12Test.h
Labels: D3D12, Test

Refactor DXGI impl. into separate cpps.
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.h
  src/gpgmm/d3d12/BudgetUpdateDXGI.cpp
  src/gpgmm/d3d12/BudgetUpdateDXGI.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResidencyManagerDXGI.cpp
  src/gpgmm/d3d12/ResidencyManagerDXGI.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Build

Refactor DXGI impl. into separate cpps. (#984)
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.h
  src/gpgmm/d3d12/BudgetUpdateDXGI.cpp
  src/gpgmm/d3d12/BudgetUpdateDXGI.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResidencyManagerDXGI.cpp
  src/gpgmm/d3d12/ResidencyManagerDXGI.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Build

Add NULL checks to CloseHandle in BudgetUpdateTaskDXGI
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.h
  src/gpgmm/d3d12/BudgetUpdateDXGI.cpp
  src/gpgmm/d3d12/BudgetUpdateDXGI.h
Labels: D3D12

Add NULL checks to CloseHandle in BudgetUpdateTaskDXGI (#985)
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.h
  src/gpgmm/d3d12/BudgetUpdateDXGI.cpp
  src/gpgmm/d3d12/BudgetUpdateDXGI.h
Labels: D3D12

Add footnote to keep project alive.
  README.md
Labels: Documentation

Add footnote to keep project alive. (#987)
  README.md
Labels: Documentation
