Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*

Rename ALLOCATOR_ALGORITHM => RESOURCE_ALLOCATION_ALGORITHM. (#892)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Convert GPGMM and D3D12 errors.
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
Labels: D3D12

Convert GPGMM and D3D12 errors. (#893)
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
Labels: D3D12

deploy: ee449372f07177e955f1e0a298d40bdb6164fe73
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_enum.html
  namespacemembers_eval.html
  search/all_0.js
  search/all_9.js
  search/all_b.js
  search/all_c.js
  search/enums_0.js
  search/enums_2.js
  search/enumvalues_0.js
  search/enumvalues_2.js
  search/variables_8.js
  search/variables_a.js
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_o_r___d_e_s_c.html
Labels: none

Clean-up GetDeviceErrorMessage.
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
Labels: D3D12

Clean-up GetDeviceErrorMessage. (#894)
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
Labels: D3D12

Hook-up front end to new error handling.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/Error.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/utils/Log.cpp
  src/gpgmm/vk/ErrorVk.h
Labels: D3D12, Vulkan, Frontend

Hook up error handling to async tasks.
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/ThreadPool.h
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.h
  src/tests/unittests/ThreadPoolTests.cpp
Labels: D3D12, Frontend, Test

Fix deadlock when creating unowned committed resources.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Copy requests in resource allocator.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Rename ALLOCATION_TYPE => RESOURCE_ALLOCATION_TYPE.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Hook-up front end to new error handling. (#895)
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/Error.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.cpp
  src/gpgmm/d3d12/ErrorD3D12.h
  src/gpgmm/utils/Log.cpp
  src/gpgmm/vk/ErrorVk.h
Labels: D3D12, Vulkan, Frontend

Rename ALLOCATION_DESC => RESOURCE_ALLOCATION_DESC.
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/fuzzers/D3D12ResourceAllocatorFuzzer.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Workaround for result variable shadowing.
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/ErrorD3D12.h
Labels: D3D12, Frontend

Hook up error handling to async tasks. (#896)
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/ThreadPool.h
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.h
  src/tests/unittests/ThreadPoolTests.cpp
Labels: D3D12, Frontend, Test

Fix deadlock when creating unowned committed resources. (#897)
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Rename ALLOCATION_TYPE => RESOURCE_ALLOCATION_TYPE. (#898)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Rename ALLOCATION_DESC => RESOURCE_ALLOCATION_DESC. (#899)
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/fuzzers/D3D12ResourceAllocatorFuzzer.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Workaround for result variable shadowing. (#900)
  src/gpgmm/common/Error.h
  src/gpgmm/d3d12/ErrorD3D12.h
Labels: D3D12, Frontend

deploy: c574c0ae57a0aaefe0560cdebc81a04dcee40e16
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_enum.html
  namespacemembers_eval.html
  search/all_0.js
  search/all_b.js
  search/all_d.js
  search/enums_0.js
  search/enums_2.js
  search/enumvalues_0.js
  search/enumvalues_2.js
  search/variables_b.js
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___i_n_f_o-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___i_n_f_o.html
Labels: none

deploy: 0f84182a5721fc3a97b0d5f463125c7bbee560df
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_enum.html
  namespacemembers_eval.html
  search/all_0.js
  search/all_b.js
  search/all_d.js
  search/enums_0.js
  search/enums_2.js
  search/enumvalues_0.js
  search/enumvalues_2.js
  search/variables_b.js
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___i_n_f_o-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___i_n_f_o.html
Labels: none

deploy: a9dd22386b7120b7455c3aee08081ed7ccdb3fd0
  annotated.html
  classes.html
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  namespaces.html
  search/all_0.js
  search/all_1.js
  search/all_2.js
  search/all_3.js
  search/all_4.js
  search/all_6.js
  search/all_b.js
  search/classes_0.js
  search/classes_3.js
  search/functions_0.js
  search/variables_2.js
  search/variables_3.js
  search/variables_4.js
  search/variables_5.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
Labels: none

deploy: 8735fe6d744c4344a68b82ed539d5208dab3e4bc
  annotated.html
  classes.html
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  namespaces.html
  search/all_0.js
  search/all_1.js
  search/all_2.js
  search/all_3.js
  search/all_4.js
  search/all_6.js
  search/all_b.js
  search/classes_0.js
  search/classes_3.js
  search/functions_0.js
  search/variables_2.js
  search/variables_3.js
  search/variables_4.js
  search/variables_5.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_i_o_n___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
Labels: none

deploy: fd3b67a461ca7e341bf8984ed0ff52afe89850c2
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_enum.html
  namespacemembers_eval.html
  search/all_0.js
  search/all_b.js
  search/all_d.js
  search/enums_0.js
  search/enums_2.js
  search/enumvalues_0.js
  search/enumvalues_2.js
  search/variables_b.js
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___i_n_f_o-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___i_n_f_o.html
Labels: none

deploy: 9fd5a933884b5a551332c8942f1f81556cb65710
  annotated.html
  classes.html
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  namespaces.html
  search/all_0.js
  search/all_1.js
  search/all_2.js
  search/all_3.js
  search/all_4.js
  search/all_6.js
  search/all_b.js
  search/classes_0.js
  search/classes_3.js
  search/functions_0.js
  search/variables_2.js
  search/variables_3.js
  search/variables_4.js
  search/variables_5.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
Labels: none

Rename RECORD_FLAGS_* => RECORD_FLAG_*
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/D3D12Test.cpp
Labels: D3D12, Test

deploy: 5d7cb7e7d7e5f62c7a5d75530a9d274288ee68bc
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
Labels: none

Rename ALLOCATION_FLAGS => RESOURCE_ALLOCATION_FLAGS
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

deploy: 84762f55f4e43b2ebf31cb5762c349051ae00831
  annotated.html
  classes.html
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_enum.html
  namespacemembers_eval.html
  search/all_0.js
  search/all_4.js
  search/all_b.js
  search/classes_0.js
  search/classes_3.js
  search/enums_0.js
  search/enums_2.js
  search/enumvalues_0.js
  search/enumvalues_2.js
  search/variables_4.js
  struct_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___f_l_a_g_s.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
Labels: none

Rename RECORD_FLAGS_* => RECORD_FLAG_* (#901)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/D3D12Test.cpp
Labels: D3D12, Test

deploy: 2b1563c881a7030b94e9f1f1ce3e5744efb24376
  annotated.html
  classes.html
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_enum.html
  namespacemembers_eval.html
  search/all_0.js
  search/all_4.js
  search/all_b.js
  search/classes_0.js
  search/classes_3.js
  search/enums_0.js
  search/enums_2.js
  search/enumvalues_0.js
  search/enumvalues_2.js
  search/variables_4.js
  struct_a_l_l_o_c_a_t_i_o_n___f_l_a_g_s.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
Labels: none

deploy: 5d8c1021a294eaacc6eba28b8b826d13ef031a68
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
Labels: none

Rename ALLOCATION_FLAGS => RESOURCE_ALLOCATION_FLAGS (#902)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Improve resource type checks.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

deploy: 8ec9e60a4e6160779b31b96aedf6a6c4d07bc01a
  annotated.html
  classes.html
  functions.html
  functions_vars.html
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_enum.html
  namespacemembers_eval.html
  search/all_0.js
  search/all_4.js
  search/all_b.js
  search/classes_0.js
  search/classes_3.js
  search/enums_0.js
  search/enums_2.js
  search/enumvalues_0.js
  search/enumvalues_2.js
  search/variables_4.js
  struct_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___f_l_a_g_s.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_r_e_s_o_u_r_c_e___a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
Labels: none

Rename ALLOCATOR_FEATURE => RESOURCE_ALLOCATOR_FEATURE and ALLOCATOR_STATS => RESOURCE_ALLOCATOR_STATS.
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/D3D12Test.cpp
  src/tests/D3D12Test.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Improve resource type checks. (#904)
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Rename ALLOCATOR_FEATURE => RESOURCE_ALLOCATOR_FEATURE and ALLOCATOR_STATS => RESOURCE_ALLOCATOR_STATS. (#905)
  include/gpgmm_d3d12.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/D3D12Test.cpp
  src/tests/D3D12Test.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

Make info const in GetResourceAllocationInfo.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
Labels: D3D12

More clean-up after error handling changes.
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/Error.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/utils/Log.cpp
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
Labels: D3D12, Vulkan, Frontend
