Repository intel/GPGMM, changes with the labels that .github/labeler.yml gives for each.
All labels: D3D12, Vulkan, DEPS, breaking-change, Documentation, Frontend, Build, Infra, Test

.github/labeler.yml:

# Documentation
# https://github.com/actions/labeler

D3D12:
- src/gpgmm/d3d12/**/*

Vulkan:
- src/gpgmm/vk/**/*

DEPS:
- DEPS
- third_party/**/*

breaking-change:
- src/include/*

Documentation:
- Doxyfile
- docs/**/*
- '**/*.md'

Frontend:
- src/gpgmm/common/**/*
- src/gpgmm/utils/**/*

Build:
- build_overrides/**/*
- '**/*.gn'
- '**/CMakeLists.txt'
- cmake/**/*
- '**/*.cmake'

Infra:
- .github/**/*

Test:
- src/fuzzers/**/*
- src/tests/**/*
- examples/**/*

deploy: 19df03ad8213ce3f69756a12e31934eba0efee0e
  functions.html
  functions_vars.html
  search/all_3.js
  search/all_4.js
  search/all_b.js
  search/variables_3.js
  search/variables_4.js
  search/variables_9.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_i_o_n___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
Labels: none

deploy: 81b1f28e07ff5a194ef58fb3bc72632df7f1fe97
  functions.html
  functions_vars.html
  search/all_3.js
  search/all_4.js
  search/all_b.js
  search/variables_3.js
  search/variables_4.js
  search/variables_9.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_i_o_n___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
Labels: none

deploy: f8f9fdc5bd8f4e227598f206ad923b3cf566d795
  functions.html
  functions_vars.html
  search/all_3.js
  search/all_4.js
  search/all_b.js
  search/variables_3.js
  search/variables_4.js
  search/variables_9.js
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_i_o_n___d_e_s_c-members.html
  structgpgmm_1_1d3d12_1_1_a_l_l_o_c_a_t_i_o_n___d_e_s_c.html
Labels: none

deploy: 8792ce69d1fa180849b31cb7cccdd7dfc02bb462
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
Labels: none

Rename ALWAYS_IN_BUDGET => CREATE_IN_BUDGET and ALWAYS_RESIDENT => CREATE_RESIDENT.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Rename DISABLE_UNIFIED_MEMORY => NEVER_USE_UNIFIED_MEMORY.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
Labels: D3D12

deploy: 247ac1a5726463112fdc1e6c4eeea854b4c27283
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
Labels: none

Rename ALWAYS_IN_BUDGET => CREATE_IN_BUDGET and ALWAYS_RESIDENT => CREATE_RESIDENT. (#881)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: 078d3d22bf657ab638d7b379db5ceb65bd0a5b18
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o.html
Labels: none

deploy: 939f4b7610d12ab5a26670020b33d6a3a473a1cb
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o.html
Labels: none

deploy: fc0ea588c34af44a14a3670fd7243b8431773888
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
Labels: none

Rename DISABLE_UNIFIED_MEMORY => NEVER_USE_UNIFIED_MEMORY. (#883)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
Labels: D3D12

deploy: 1ec21c73d55a1055ecb74dc03ce8322b2b7498ea
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
Labels: none

Rename RESIDENCY_HEAP_STATUS fields.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Rename RESIDENCY_HEAP_STATUS fields. (#882)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Rename status parameter in SetResidencyStatus.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
Labels: D3D12

Determine residency heap size when unspecified.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

Rename status parameter in SetResidencyStatus. (#886)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
Labels: D3D12

Return error results on validation checks.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
Labels: Vulkan, Frontend

Return error results on validation checks. (#887)
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
Labels: Vulkan, Frontend

deploy: 0c784b2d3794f80b8c785a0c116f7f5423355e1f
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_eval.html
  search/all_b.js
  search/enumvalues_2.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o.html
Labels: none

deploy: e6b768ce2707f1b372cafb451fc9fd0a035c04c8
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_c.js
  search/functions_5.js
Labels: none

deploy: ae925d2d8ea6031369a55a94c1bb5929f42f25d5
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_c.js
  search/functions_5.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o.html
Labels: none

deploy: be4f864714ca3c24593cd82e1642ac56452d91ea
  gpgmm__d3d12_8h.html
  namespacegpgmm_1_1d3d12.html
  namespacemembers.html
  namespacemembers_func.html
  search/all_c.js
  search/functions_5.js
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o.html
Labels: none

Determine residency heap size when unspecified. (#885)
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

deploy: 74fd4312af6db45215aa647761b14b9c2470c92a
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___d_e_s_c.html
  structgpgmm_1_1d3d12_1_1_r_e_s_i_d_e_n_c_y___h_e_a_p___i_n_f_o.html
Labels: none

More clean-up to internal logging.
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/LogD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/utils/Log.cpp
  src/gpgmm/utils/Log.h
Labels: D3D12, Frontend

More clean-up to internal logging. (#884)
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/LogD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationTrackingAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/utils/Log.cpp
  src/gpgmm/utils/Log.h
Labels: D3D12, Frontend

Use error macro for validation.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
Labels: Frontend

Move defaults where used.
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/Defaults.h
  src/gpgmm/common/EventTraceWriter.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
Labels: D3D12, Vulkan, Frontend, Build

Use error macro for validation. (#888)
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
Labels: Frontend

Move defaults where used. (#889)
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/Defaults.h
  src/gpgmm/common/EventTraceWriter.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
Labels: D3D12, Vulkan, Frontend, Build

Convert sizes to printable units.
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/SizeClass.cpp
  src/gpgmm/common/SizeClass.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/BUILD.gn
  src/tests/CMakeLists.txt
  src/tests/unittests/SizeClassTests.cpp
Labels: D3D12, Frontend, Build, Test

Convert sizes to printable units. (#890)
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/SizeClass.cpp
  src/gpgmm/common/SizeClass.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/BUILD.gn
  src/tests/CMakeLists.txt
  src/tests/unittests/SizeClassTests.cpp
Labels: D3D12, Frontend, Build, Test

Use GetBytesToSizeInUnits over GPGMM_BYTES_TO_MB in logging.
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
Labels: D3D12, Frontend, Test

More cases to use GetBytesToSizeInUnits.
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12, Frontend

Split errors from messages.
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/Error.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/EventMessage.cpp
  src/gpgmm/common/EventMessage.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/Message.cpp
  src/gpgmm/common/Message.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/EventMessageD3D12.h
  src/gpgmm/d3d12/LogD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/utils/Log.cpp
  src/gpgmm/utils/Log.h
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.h
Labels: D3D12, Vulkan, Frontend, Build

Split errors from messages. (#891)
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/Error.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/EventMessage.cpp
  src/gpgmm/common/EventMessage.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/Message.cpp
  src/gpgmm/common/Message.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/BudgetUpdateD3D12.cpp
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/EventMessageD3D12.h
  src/gpgmm/d3d12/LogD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/utils/Log.cpp
  src/gpgmm/utils/Log.h
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.h
Labels: D3D12, Vulkan, Frontend, Build

Minor refactor of JSONSerializer for recording call parameters.
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResidencyHeapD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

Rename ALLOCATOR_ALGORITHM => RESOURCE_ALLOCATION_ALGORITHM.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/capture_replay_tests/D3D12MemoryTraceReplay.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test
