Repository intel/GPGMM, pull requests merged in 2022-10, with the labels that each got.

#662 Decouple GPGMM interfaces from backend implementation.
  .github/workflows/.patches/dawn.diff
  Doxyfile
  README.md
  src/fuzzers/D3D12Fuzzer.h
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/fuzzers/D3D12ResourceAllocatorFuzzer.cpp
  src/gpgmm/common/Backend.h
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/Memory.cpp
  src/gpgmm/common/Memory.h
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/MemoryPool.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/d3d12/BackendD3D12.h
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/DebugObjectD3D12.h
  src/gpgmm/d3d12/EventRecordD3D12.h
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/IUnknownImplD3D12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResidencyListD3D12.cpp
  src/gpgmm/d3d12/ResidencyListD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.h
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
  src/gpgmm/vk/DeviceMemoryVk.cpp
  src/gpgmm/vk/DeviceMemoryVk.h
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.h
  src/include/gpgmm.h
  src/include/gpgmm_d3d12.h
  src/include/gpgmm_vk.h
  src/include/min/gpgmm.h
  src/include/min/gpgmm_d3d12.h
  src/mvi/gpgmm_d3d12_mvi.cpp
  src/mvi/gpgmm_d3d12_mvi.h
  src/mvi/gpgmm_mvi.cpp
  src/mvi/gpgmm_mvi.h
  src/samples/BUILD.gn
  src/samples/D3D12Sample.cpp
  src/tests/D3D12Test.h
  src/tests/DummyMemoryAllocator.h
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
  src/tests/unittests/BuddyMemoryAllocatorTests.cpp
  src/tests/unittests/SlabMemoryAllocatorTests.cpp
Labels: breaking-change, D3D12, Vulkan, Test, Build, Frontend

#664 Rename RESIDENCY_INFO to RESIDENCY_STATS and RESOURCE_ALLOCATOR_INFO to RESOURCE_ALLOCATOR_STATS.
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/BuddyMemoryAllocator.h
  src/gpgmm/common/ConditionalMemoryAllocator.cpp
  src/gpgmm/common/ConditionalMemoryAllocator.h
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.h
  src/gpgmm/common/JSONSerializer.cpp
  src/gpgmm/common/JSONSerializer.h
  src/gpgmm/common/MemoryAllocator.cpp
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/MemoryPool.cpp
  src/gpgmm/common/MemoryPool.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.h
  src/gpgmm/d3d12/BufferAllocatorD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/vk/DeviceMemoryAllocatorVk.cpp
  src/include/gpgmm.h
  src/include/gpgmm_d3d12.h
  src/mvi/gpgmm_d3d12_mvi.cpp
  src/mvi/gpgmm_d3d12_mvi.h
  src/mvi/gpgmm_mvi.cpp
  src/mvi/gpgmm_mvi.h
  src/tests/DummyMemoryAllocator.h
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
  src/tests/unittests/BuddyMemoryAllocatorTests.cpp
  src/tests/unittests/ConditionalMemoryAllocatorTests.cpp
  src/tests/unittests/MemoryPoolTests.cpp
  src/tests/unittests/PooledMemoryAllocatorTests.cpp
  src/tests/unittests/SegmentedMemoryAllocatorTests.cpp
  src/tests/unittests/SlabMemoryAllocatorTests.cpp
Labels: breaking-change, D3D12, Vulkan, Test, Frontend

#663 Remove src folder from public config.
  CMakeLists.txt
  README.md
  src/fuzzers/BUILD.gn
  src/gpgmm/common/BUILD.gn
Labels: Test, Build, Frontend

#665 Do not export impl or src\gpgmm types.
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/d3d12/DebugObjectD3D12.h
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/IUnknownImplD3D12.h
  src/gpgmm/d3d12/ResidencyListD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/vk/ResourceAllocatorVk.h
  src/include/gpgmm_vk.h
Labels: D3D12, Vulkan, Frontend

#666 Move src/include to include.
  CMakeLists.txt
  Doxyfile
  README.md
  docs/DESIGN.md
  include/gpgmm.h
  include/gpgmm_d3d12.h
  include/gpgmm_export.h
  include/gpgmm_vk.h
  src/gpgmm/BUILD.gn
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/Memory.h
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryAllocator.h
  src/gpgmm/common/MemoryPool.h
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResidencyListD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/vk/ResourceAllocatorVk.h
  src/samples/BUILD.gn
  src/samples/CMakeLists.txt
Labels: D3D12, Vulkan, Build, Frontend

#667 Roll third_party DEPS
  DEPS
Labels: DEPS

#668 Roll third_party DEPS
  DEPS
Labels: DEPS

#672 Define public classes as interfaces in gpgmm_d3d12.h
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
Labels: D3D12

#673 Move min. record level into descs.
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/D3D12Test.cpp
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
Labels: breaking-change, D3D12, Test

#674 Roll third_party DEPS
  DEPS
Labels: DEPS

#675 Remove third_party/webnn from build.
  .github/workflows/win_webnn_rel.yaml
  .gitignore
  build_overrides/gpgmm_features.gni
  build_overrides/webnn.gni
  scripts/regression_check.py
  scripts/webnn.deps
  scripts/webnn.gclient
  src/BUILD.gn
  third_party/BUILD.gn
Labels: Test, Build, DEPS

#677 Reland "Remove third_party/webnn from build."
  .github/workflows/.patches/dawn.diff
  .github/workflows/win_webnn_rel.yaml
  .gitignore
  build_overrides/gpgmm_features.gni
  build_overrides/webnn.gni
  scripts/regression_check.py
  scripts/webnn.deps
  scripts/webnn.gclient
  src/BUILD.gn
  third_party/BUILD.gn
Labels: Test, Build, DEPS

#678 Roll third_party DEPS
  DEPS
Labels: DEPS

#670 Remove usage of std::function in MVI
  .github/workflows/.patches/dawn.diff
  README.md
  include/gpgmm_d3d12.h
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceHeapAllocatorD3D12.h
  src/mvi/gpgmm_d3d12.cpp
  src/mvi/gpgmm_d3d12.h
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

#680 Remove unused MemoryAllocation members.
  src/gpgmm/common/JSONSerializer.cpp
  src/gpgmm/common/JSONSerializer.h
  src/gpgmm/common/MemoryAllocation.cpp
  src/gpgmm/common/MemoryAllocation.h
Labels: Frontend

#682 Roll third_party DEPS
  DEPS
Labels: DEPS
