Repository intel/GPGMM, pull requests merged in 2022-08, with the labels that each got.

#548 Roll third_party DEPS
  DEPS
Labels: DEPS

#551 Do not require Vulkan loader when building without tests.
  CMakeLists.txt
  src/gpgmm/CMakeLists.txt
Labels: Build

#542 Add support for a reference stable vector.
  src/gpgmm/utils/BUILD.gn
  src/gpgmm/utils/CMakeLists.txt
  src/gpgmm/utils/StableList.h
  src/tests/BUILD.gn
  src/tests/CMakeLists.txt
  src/tests/unittests/StableListTests.cpp
Labels: Test, Build, Frontend

#552 Add gpCreateImage support.
  src/gpgmm/vk/FunctionsVk.cpp
  src/gpgmm/vk/FunctionsVk.h
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.h
  src/tests/end2end/VKResourceAllocatorTests.cpp
Labels: Vulkan, Test

#547 Remove Usage of std::set in ResidencySet
  README.md
  src/gpgmm/BUILD.gn
  src/gpgmm/CMakeLists.txt
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/JSONSerializerD3D12.h
  src/gpgmm/d3d12/ResidencyListD3D12.cpp
  src/gpgmm/d3d12/ResidencyListD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/include/gpgmm_d3d12.h
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: breaking-change, D3D12, Test, Build

#555 Add option to pad resource heaps.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

#554 Eliminate LinkedList from slab allocation.
  src/gpgmm/common/SlabBlockAllocator.cpp
  src/gpgmm/common/SlabBlockAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.h
  src/gpgmm/utils/LinkedList.h
  src/tests/unittests/LinkedListTests.cpp
Labels: Test, Frontend

#557 Clean-up CheckFeatureSupport.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

#558 Enable VK budget extension.
  src/gpgmm/vk/FunctionsVk.cpp
  src/gpgmm/vk/FunctionsVk.h
  src/gpgmm/vk/ResourceAllocatorVk.cpp
  src/gpgmm/vk/ResourceAllocatorVk.h
Labels: Vulkan, automerge

#561 Move end2end CRT leak tests into seperate workflow step.
  .github/workflows/win_clang_dbg_x64.yaml
  .github/workflows/win_clang_rel_x64.yaml
  .github/workflows/win_msvc_dbg_x64.yaml
  .github/workflows/win_msvc_dbg_x64_cmake.yaml
  .github/workflows/win_msvc_rel_x64.yaml
Labels: Test

#563 Reland "Replace LinkedList with StableList for GPU slab allocation. (#554)"
  src/gpgmm/common/SlabBlockAllocator.cpp
  src/gpgmm/common/SlabBlockAllocator.h
  src/gpgmm/common/SlabMemoryAllocator.cpp
  src/gpgmm/common/SlabMemoryAllocator.h
  src/gpgmm/utils/LinkedList.h
  src/gpgmm/utils/StableList.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
  src/tests/unittests/LinkedListTests.cpp
  src/tests/unittests/StableListTests.cpp
Labels: Test, Frontend

#559 Simplify MemoryPool interface.
  src/gpgmm/common/BuddyMemoryAllocator.cpp
  src/gpgmm/common/Error.h
  src/gpgmm/common/IndexedMemoryPool.cpp
  src/gpgmm/common/IndexedMemoryPool.h
  src/gpgmm/common/LIFOMemoryPool.cpp
  src/gpgmm/common/LIFOMemoryPool.h
  src/gpgmm/common/MemoryAllocation.h
  src/gpgmm/common/MemoryPool.h
  src/gpgmm/common/PooledMemoryAllocator.cpp
  src/gpgmm/common/SegmentedMemoryAllocator.cpp
  src/tests/unittests/MemoryPoolTests.cpp
Labels: Test, Frontend

#564 Remove depreciated APIs.
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/ResidencyListD3D12.cpp
  src/gpgmm/d3d12/ResidencyListD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
Labels: D3D12

#565 Reland "Remove depreciated APIs. (#564)"
  .github/workflows/.patches/dawn.diff
  scripts/webnn.deps
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/ResidencyListD3D12.cpp
  src/gpgmm/d3d12/ResidencyListD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
Labels: D3D12

#568 Fix enable-assert causing GN gen failure.
  src/gpgmm/common/BUILD.gn
Labels: bug, Build, Frontend

#569 Rename Standalone => Dedicated allocator.
  src/gpgmm/common/BUILD.gn
  src/gpgmm/common/CMakeLists.txt
  src/gpgmm/common/DedicatedMemoryAllocator.cpp
  src/gpgmm/common/DedicatedMemoryAllocator.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/tests/perftests/MemoryAllocatorPerfTests.cpp
Labels: D3D12, Test, Build, Frontend

#570 Fix ASSERT generation from not evaluating the condition during release builds.
  src/gpgmm/utils/Assert.h
  src/gpgmm/utils/Compiler.h
Labels: Frontend

#571 Roll third_party DEPS
  DEPS
Labels: DEPS

#572 Remove unused MemoryPool dependency from d3d12::Heap.
  src/gpgmm/common/Memory.h
  src/gpgmm/d3d12/HeapD3D12.cpp
  src/gpgmm/d3d12/HeapD3D12.h
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
Labels: D3D12, Frontend

#573 Make RefCounted in IUnknown-based objects private.
  src/gpgmm/d3d12/DebugResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/IUnknownImplD3D12.cpp
  src/gpgmm/d3d12/IUnknownImplD3D12.h
Labels: D3D12

#574 Refactor ResidencyManager query info API.
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: D3D12, Test

#575 Fix MSVC assert code generation on for release builds.
  src/gpgmm/utils/Assert.h
  src/gpgmm/utils/Compiler.h
Labels: Frontend

#576 Move ResidencyList::Begin/End into private section.
  src/gpgmm/d3d12/ResidencyListD3D12.h
Labels: D3D12

#578 Remove enum flags dependency.
  src/gpgmm/d3d12/EventRecordD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/gpgmm/utils/BUILD.gn
  src/gpgmm/utils/CMakeLists.txt
  src/gpgmm/utils/EnumFlags.h
  src/gpgmm/utils/Flags.h
  src/gpgmm/vk/ResourceAllocatorVk.h
  src/tests/BUILD.gn
  src/tests/CMakeLists.txt
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
  src/tests/unittests/EnumFlagsTests.cpp
Labels: D3D12, Vulkan, Test, Build, Frontend

#579 Remove default-initialization from D3D descriptor structures.
  src/gpgmm/d3d12/EventRecordD3D12.h
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

#580 Make AllocationMethod::kUndefined default value.
  src/gpgmm/common/MemoryAllocation.h
Labels: Frontend

#581 Roll third_party DEPS
  DEPS
Labels: DEPS

#582 Remove ResourceAllocation::CreateResourceAllocation.
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

#583 Update auto roller
  .github/workflows/win_auto_roll.yaml
Labels: Test

#584 Roll third_party DEPS
  DEPS
Labels: DEPS

#586 Rename RESOURCE_ALLOCATION_DESC::RequestSizeInBytes to RESOURCE_ALLOCATION_DESC::SizeInBytes.
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocationD3D12.h
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
Labels: D3D12

#585 Make ResidencyManager::GetMemorySegmentGroup private.
  src/fuzzers/D3D12ResidencyManagerFuzzer.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/gpgmm/d3d12/UtilsD3D12.cpp
  src/gpgmm/d3d12/UtilsD3D12.h
  src/tests/end2end/D3D12ResidencyManagerTests.cpp
Labels: breaking-change, D3D12, Test

#587 Make ALLOCATION_DESC::HeapType optional.
  src/gpgmm/d3d12/ResourceAllocatorD3D12.cpp
  src/gpgmm/d3d12/ResourceAllocatorD3D12.h
  src/tests/end2end/D3D12ResourceAllocatorTests.cpp
Labels: D3D12, Test

#588 Make ResidencyManager::UpdateMemorySegment private.
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
Labels: breaking-change, D3D12

#589 Rename RESIDENCY_DESC::EvictBatchSize to RESIDENCY_DESC::EvictSizeInBytes.
  src/gpgmm/d3d12/JSONSerializerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
  src/tests/capture_replay_tests/D3D12EventTraceReplay.cpp
Labels: breaking-change, D3D12, Test

#593 Refactor ResidencyManager::UpdateMemorySegments.
  src/gpgmm/d3d12/ResidencyManagerD3D12.cpp
  src/gpgmm/d3d12/ResidencyManagerD3D12.h
Labels: D3D12
